<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jun.plugin.business.mapper.CustomerMapper">
  <resultMap id="BaseResultMap" type="com.jun.plugin.business.domain.Customer">
    <!--@mbg.generated-->
    <!--@Table bus_customer-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="customername" jdbcType="VARCHAR" property="customername" />
    <result column="zip" jdbcType="VARCHAR" property="zip" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="connectionperson" jdbcType="VARCHAR" property="connectionperson" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="bank" jdbcType="VARCHAR" property="bank" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="fax" jdbcType="VARCHAR" property="fax" />
    <result column="available" jdbcType="INTEGER" property="available" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, customername, zip, address, telephone, connectionperson, phone, bank, account, 
    email, fax, available
  </sql>
</mapper>