<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jun.plugin.business.mapper.SalesbackMapper">
  <resultMap id="BaseResultMap" type="com.jun.plugin.business.domain.Salesback">
    <!--@mbg.generated-->
    <!--@Table bus_salesback-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="customerid" jdbcType="INTEGER" property="customerid" />
    <result column="paytype" jdbcType="VARCHAR" property="paytype" />
    <result column="salesbacktime" jdbcType="TIMESTAMP" property="salesbacktime" />
    <result column="salebackprice" jdbcType="DOUBLE" property="salebackprice" />
    <result column="operateperson" jdbcType="VARCHAR" property="operateperson" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="salesid" jdbcType="INTEGER" property="salesid" />
    <result column="goodsid" jdbcType="INTEGER" property="goodsid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, customerid, paytype, salesbacktime, salebackprice, operateperson, `number`, remark, 
    salesid, goodsid
  </sql>
</mapper>