<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-equipment-edit" th:object="${equipment}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">设备名字：</label>
				<div class="col-sm-8">
					<input id="name" name="name" th:field="*{name}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">封面图片：</label>
				<div class="col-sm-8">
					<input id="coverImgUrl" name="coverImgUrl" class="form-control" type="text" style="display:none">
					<input type="file" name="coverImg" id="coverImg"  class="form-control">
					<!--<div id="summernote">Hello Summernote</div>-->
					<div style="width:200px;float:left;overflow:hidden;border:1px solid #ccc;border-radius:3px;padding:5px;background:#fff;margin:10px auto;" id="coverimgBox">
						<img th:src="*{coverImgUrl}"id="coverImgSrc" width="100%"/>
					</div>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">设备介绍：</label>
				<div class="col-sm-8">
					<input id="content" name="content" th:field="*{content}" type="hidden">
					<div  id="editor" class="editor"></div>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">状态：</label>
				<div class="col-sm-8">
					<select name="status" class="form-control m-b" th:with="type=${@dict.getType('common_status')}">
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{status}"></option>
					</select>
				</div>
			</div>

            <div class="form-group">
            <div class="form-control-static col-sm-offset-9">
            <button type="submit" class="btn btn-primary">提交</button>
            <button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
            </div>
            </div>
		</form>
    </div>
    <div th:include="include::footer"></div>
	<script th:src="@{/wangedit/wangEditor.min.js}"></script>
    <script type="text/javascript">
		var prefix = ctx + "ow/equipment"

		var E = window.wangEditor
		var editor = new E('#editor')
		var content = $('#content')
		editor.customConfig.onchange = function (html) {
			// 监控变化，同步更新到 $content
			content.val(html)
		}
		editor.customConfig.uploadImgServer = 'http://api.iamyihao.com/WebUploader/uploaderPic'
		editor.customConfig.uploadImgHooks = {
			customInsert: function (insertImg, result, editor) {
				console.log(result.url)
				// 图片上传并返回结果，自定义插入图片的事件（而不是编辑器自动插入图片！！！）
				// insertImg 是插入图片的函数，editor 是编辑器对象，result 是服务器端返回的结果
				// 举例：假如上传图片成功后，服务器端返回的是 {url:'....'} 这种格式，即可这样插入图片：
				insertImg(result.url)
			}
		};
		editor.create()
		editor.txt.html($('#content').val());
		// 初始化 content 的值
		content.val(editor.txt.html())

		$("#coverImg").change(function(){
			var formdata=new FormData();
			formdata.append('uploadImage',$('#coverImg').get(0).files[0]);
			$.ajax({
				url:'http://api.iamyihao.com/WebUploader/uploaderPics',
				type:'post',
				contentType:false,
				data:formdata,
				processData:false,
				success:function(info){
					// console.log(info)
					$("#coverImgUrl").val(info)
					$("#coverImgSrc").attr("src",info)
					$("#coverimgBox").show(300)
				},
				error:function(err){
					console.log(err)
				}
			});
		})

        $("#form-equipment-edit").validate({
            rules:{
                xxxx:{
                    required:true,
                },
            },
            submitHandler: function(form) {
                $.operate.save(prefix + "/edit", $('#form-equipment-edit').serialize());
            }
        });




	</script>
</body>
</html>
