<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jun.plugin.system.mapper.SystemlogMapper">
  <resultMap id="BaseResultMap" type="com.jun.plugin.system.domain.Systemlog">
    <!--@mbg.generated-->
    <!--@Table systemlog-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="thisName" jdbcType="VARCHAR" property="thisname" />
    <result column="optime" jdbcType="TIMESTAMP" property="optime" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="function" jdbcType="VARCHAR" property="function" />
    <result column="params" jdbcType="LONGVARCHAR" property="params" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, thisName, optime, ip, address, `function`, params
  </sql>
</mapper>