<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanyu.admin.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.lanyu.common.model.User" >
    <id column="user_id" property="user_id" jdbcType="INTEGER" />
    <result column="user_name" property="user_name" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="lgpic" property="lgpic" jdbcType="VARCHAR" />
    <result column="ltpic" property="ltpic" jdbcType="VARCHAR" />
    <result column="qqpid" property="qqpid" jdbcType="VARCHAR" />
    <result column="wxpid" property="wxpid" jdbcType="VARCHAR" />
    <result column="statu" property="statu" jdbcType="INTEGER" />
    <!-- 多对多关联映射：collection -->
    <collection property="roles" ofType="Role">
      <id property="rcode" column="rcode" />
      <result property="rname" column="rname" />
      <result property="flag" column="flag" />
      <collection property="modules" ofType="java.lang.String">
        <result property="mcode" column="mcode"/>
      </collection>
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    u.user_id, u.user_name, u.password, u.phone,u.email,u.birthday,u.sex,u.lgpic,u.ltpic,u.qqpid,u.wxpid,u.statu,r.role,r.rid,r.description,r.flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_user u
    where user_id = #{userId,jdbcType=INTEGER}
  </select>

  <select id="selectByPhone" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT
	  u.*, r.*, m.mcode
    FROM
        sys_user u
    LEFT JOIN sys_user_role ur ON ur.uid = u.user_id
    LEFT JOIN sys_role r ON r.rcode = ur.rcode
    LEFT JOIN sys_role_module mr ON mr.rcode = r.rcode
    LEFT JOIN sys_module m ON mr.mcode = m.mcode
    WHERE
	  u.user_name=#{username} or u.phone=#{username};
  </select>

  <select id="selectAllUser" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    select
    u.user_id, u.user_name, u.password, u.phone,u.email,u.birthday,ifnull(u.sex, 0) as sex,u.lgpic,u.ltpic,u.qqpid,u.wxpid,u.statu
    from sys_user u
    <where>
      <if test="searchText!=null">
         u.user_id like #{searchText} or u.user_name like #{searchText} or u.phone like #{searchText} or u.email like #{searchText}
      </if>
    </where>
    <if test="sort!='' and sort!=null">
      ORDER BY ${sort} ${order}
    </if>
  </select>
  <delete id="deleteBatch" parameterType="java.lang.String" >
    delete from sys_user
    where user_id in (${uidstr})
  </delete>
  <insert id="insert" parameterType="com.lanyu.common.model.User" useGeneratedKeys="true" keyProperty="user_id">
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="user_name != null">user_name,</if>
      <if test="password != null">password,</if>
      <if test="phone != null">phone,</if>
      <if test="email != null">email,</if>
      <if test="birthday != null">birthday,</if>
      <if test="sex != null">sex,</if>
      <if test="lgpic != null"> lgpic,</if>
      <if test="ltpic != null"> ltpic,</if>
      <if test="statu != null"> statu,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="user_name != null">#{user_name,jdbcType=VARCHAR},</if>
      <if test="password != null">#{password,jdbcType=VARCHAR},</if>
      <if test="phone != null">#{phone,jdbcType=VARCHAR},</if>
      <if test="email != null">#{email,jdbcType=VARCHAR},</if>
      <if test="birthday != null">#{birthday,jdbcType=DATE},</if>
      <if test="sex != null">#{sex,jdbcType=BIT},</if>
      <if test="lgpic != null">#{lgpic,jdbcType=VARCHAR},</if>
      <if test="ltpic != null">#{ltpic,jdbcType=VARCHAR},</if>
      <if test="statu != null">#{statu,jdbcType=BIT},</if>
    </trim>
  </insert>

  <update id="update" parameterType="com.lanyu.common.model.User">
    update sys_user
    <set>
      <if test="user_name != null">user_name = #{user_name,jdbcType=VARCHAR},</if>
      <if test="password != null">password = #{password,jdbcType=VARCHAR},</if>
      <if test="phone != null">phone = #{phone,jdbcType=VARCHAR},</if>
      <if test="email != null">email = #{email,jdbcType=VARCHAR},</if>
      <if test="birthday != null">birthday = #{birthday,jdbcType=DATE},</if>
      <if test="sex != null">sex = #{sex,jdbcType=INTEGER},</if>
      <if test="lgpic != null">lgpic = #{lgpic,jdbcType=VARCHAR},</if>
      <if test="ltpic != null"> ltpic = #{ltpic,jdbcType=VARCHAR},</if>
      <if test="qqpid != null">qqpid = #{qqpid,jdbcType=VARCHAR},</if>
      <if test="wxpid != null">wxpid = #{wxpid,jdbcType=VARCHAR},</if>
      <if test="statu != null">statu = #{statu,jdbcType=INTEGER},</if>
    </set>
    where user_id = #{user_id,jdbcType=INTEGER}
  </update>

  <update id="batchResetpw" parameterType="java.util.HashMap">
    update sys_user set password = #{password} where user_id in (#{user_id})
  </update>

  <delete id="deleteRoles" parameterType="java.util.HashMap">
    DELETE FROM sys_user_role
    <where>
      <if test="uid!=null">
        uid=#{uid,jdbcType=INTEGER}
      </if>
      <if test="rcode!=null">
        AND rcode=#{rcode,jdbcType=VARCHAR}
      </if>
    </where>
  </delete>


</mapper>