<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htmall.mapper.SysDeptMapper">
	
	<select id="listExportDepe" resultType="deptExcel">
        SELECT
        	sd.dept_name deptName, sd.dept_desc deptDesc
        FROM
        	sys_dept sd
        WHERE 1=1
        <if test=" keyWord != null and keyWord != '' ">
			AND sd.dept_name like concat('%',#{keyWord},'%')
		</if>
    </select>
    
</mapper>
