<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.project.mapper.BizCustomerMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.company.project.entity.BizCustomerEntity" id="bizCustomerMap">
        <result property="id" column="id"/>
        <result property="cusname" column="cusname"/>
        <result property="cusdesc" column="cusdesc"/>
        <result property="fullname" column="fullname"/>
        <result property="cussex" column="cussex"/>
        <result property="registerDate" column="register_date"/>
        <result property="custype" column="custype"/>
    </resultMap>


</mapper>