<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0;">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/buyType.css">
    <!-- <link rel="stylesheet" href="../static/css/carDetail.css">     -->
    <title>购车方案</title>
</head>
<body>
    <div class="banner">
        <img src="../static/images/carPicture.png" id="banner"  alt="首页">
    </div>
    <div class="carName">重庆瑞驰EC35纯电动微面</div>
    <div class="carInfo">
        <div class="carPrice">
            <text style="color: #C8C8C8;">厂家指导价：</text>
            <div class="carPrice-1">7.99万</div>
        </div>
        <div class="carBattery">
            <text>续航：</text>
            <div class="carBattery-1">233km</div>
        </div>
    </div>
    <div class="wrap"  id="wrap">
        <!-- <div class="carType" >
            车型介绍</div>
        <div class="carRent">
            租车服务</div>
        <div class="carFinance">
            金融方案</div> -->
    </div>
    <hr>
    <div class="dagou">
        <img src="../static/images/dagou.png" alt="打勾">
        <div style="margin-right: 30px;color: #ADAEBB;">包上牌</div>
        <img src="../static/images/dagou.png" alt="打勾">
        <div style="margin-right: 30px;color: #ADAEBB;">含购置税</div>
        <img src="../static/images/dagou.png" alt="打勾">
        <div style="color: #ADAEBB;">含商业保险</div>
    </div>
    <div class="type">
        <li>
            <div  class="dl dl1 dl2  dl3">
                <div class="check" id="check">
                    <!-- <input id="check18" type="radio" name="PurchaseIdentity" value="plan2"><label for="check18">
                        <div class="money">
                            <div class="top">押金</div>
                            <div class="bottom">1万</div>
                        </div>
                        <div class="month">
                            <div class="top">月租</div>
                            <div class="bottom">3700元</div>
                        </div>
                        <div class="rent">
                            <div class="top">租期</div>
                            <div class="bottom">3个月</div>
                        </div>
                    </label> -->
                </div>
            </div>
        </li>
    </div>
    <!-- <a href=""> -->
        <div class="submit">提交</div>
    <!-- </a> -->
    

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/rem.js"></script>
    <script src="../static/js/base.js"></script>
    <script src="../static/js/buyType.js"></script>
</body>
</html>