<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0;">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/base.css">
  <link rel="stylesheet" href="../static/css/carDetail.css">
  <link rel="stylesheet" href="../static/css/iconfont.css">    
  <title>车辆介绍</title>
</head>
<body style="background: rgb(245, 247, 250);">
  <input type="hidden" name="carNo" id="carNo">
  <input type="hidden" name="carCover" id="carCover">
  <div class="banner" >
    <img src="../static/images/banner.jpg"  id="banner" alt="">
  </div>
  <div class="datail-a">
    <div class="carName"></div>
  <div class="carInfo">
      <div class="carPrice">
        <text style="color: #C8C8C8;">厂家指导价：</text>
        <div class="carPrice-1"></div>
      </div>
      <div class="carBattery" style="display: none;">
        <text>续航：</text>
        <div class="carBattery-1"></div>
      </div>
    </div>
  </div>
    
  <div class="wrap" id="wrap">
    <div class="carType active" data-idx='0'>车型介绍</div>
    <div class="carRent" data-idx='1'>租车方案</div>
    <div class="carFinance" data-idx='2'>购车方案</div>
  </div>
  <!-- 车型介绍 -->
  <div class="box box-a" style="display: block;">
    <div class="company" style="display: none;">
      <div class="compangName"></div>
      <div class="lowprice" style="color: #e51c23;margin-right: .1rem;"></div>
      <div class="icon"></div>
      <div class="chazhi" style="color:green;"></div>
    </div>
    <div class="tab">
      <div class="active">详细配置</div>
      <div>车辆实拍</div>
    </div>
    <div class="base-info">
      <div class="base-tit">基本参数</div>
      <div class="info-table" id="baseInfo">
        
      </div>
    </div>
    <div class="tab-a">
      <div class="tab-box">
          <div class="active">外观</div>
          <div>内饰</div>
      </div>
    </div>
    <div class="carPic">
      <div class="top" id="carPicA">
        <div class="pic"><img src="../static/images/wai-1.JPG"  alt=""></div>
        <div class="pic"><img src="../static/images/wai-2.JPG"  alt=""></div>
        <div class="pic"><img src="../static/images/wai-3.JPG"  alt=""></div>
      </div>
      <div class="top" id="carPicB">
        <div class="pic"><img src="../static/images/wai-1.JPG"  alt=""></div>
        <div class="pic"><img src="../static/images/wai-2.JPG"  alt=""></div>
        <div class="pic"><img src="../static/images/wai-3.JPG"  alt=""></div>
      </div>
    </div>
    <div class="dibu">
      <!-- <div class="dibu-item">
        <div class="icon icon-a"></div>
        <div class="txt">分享</div>
      </div> -->
      <div class="dibu-item" style="flex: 2;">
        <a href="kefu.html">
            <div class="icon icon-b"></div>
            <div class="txt">客服</div>
        </a>
      </div>
      <div class="dibu-item">
        <!-- <div class="icon icon-c"></div> -->
        <!-- <div class="txt a">询底价</div> -->
        <div class="info" id="yuyue">立即预约</div>
      </div>
    </div>
  </div>
  <!-- 租车服务 -->
  <div class="box box-b" style="display: none;">
    <div class="check-box">
      <!-- <div class="left">租赁方案</div> -->
      <div class="a" style="margin-right: 1rem;">
          <div class="icon"></div>
          <div class="txt">包上牌</div>
        </div>
      <div class="a" style="margin-right: 1rem;">
        <div class="icon"></div>
        <div class="txt">包保险</div>
      </div>
      <div class="a">
        <div class="icon"></div>
        <div class="txt">包保养</div>
      </div>
    </div>
    <div class="fangan" id="caseA">
      
    </div>
    <div class="zl-info" style="display: none;">
      <div class="icon"></div>
      <div class="info">需另行支付GPS费3000元</div>
    </div>
    <div class="view-box" id="caseA1">
      <a href="javascript:void(0);" class="view-a" id="viewA">查看全部租赁方案<span class="icon"></span></a>
    </div>
  </div>
  <!-- 金融方案 -->
  <div class="box box-c" style="display: none;">
    <div class="check-box">
      <!-- <div class="left">以租代购</div> -->
      <div class="a" style="margin-right: .4rem;">
        <div class="icon"></div>
        <div class="txt">包上牌·购置税</div>
      </div>
      <div class="a" style="margin-right: .4rem;">
        <div class="icon"></div>
        <div class="txt">送首年保险</div>
      </div>
      <div class="a">
        <div class="icon"></div>
        <div class="txt">厂家质保</div>
      </div>
    </div>
    <div class="fangan" id="caseB">
      
    </div>
    <div class="zl-info" id="caseB1" style="display: none;">
      <div class="icon"></div>
      <div class="info">需另行支付GPS费3000元</div>
    </div>
    <div class="view-box" id="caseB2">
      <a href="javascript:void(0);" class="view-a" id="viewB">查看全部购车方案<span class="icon"></span></a>
    </div>
  </div>

  <!-- 查看大图 -->
  <!-- <div class="pic-bg"></div>
  <div class="pic-wrap">
    <div class="pic-box">
      <img src="https://www.zhaodui.com.cn/fxjldt/img/server/upload/files/20190816/_DSC4487 (2)_1565935188744.jpg" alt="">
    </div>
  </div> -->
  
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/rem.js"></script>
  <script src="../static/js/base.js"></script>
  <script src="../static/js/carDetail.js"></script>

</body>
</html>