<!DOCTYPE html>
<html lang="en" style="background: rgb(245, 247, 250);">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/base.css">  
    <title>车辆维修</title>
    <style>
        .box{
            margin: .2rem;
            background: #fff;
            border-radius: .1rem;
        }
        .tit{
            padding: .2rem;
            border-bottom: 1px solid #e9e9e9;
            font-size: .32rem;
        }
        .item{
            display: flex;
            padding: .2rem;
        }
        .item .l{flex: 1;}
        .item .r{line-height: .8rem;}
    </style>
</head>
<body style="background: rgb(245, 247, 250);">
    <div class="main">
        <div class="box">
            <div class="tit">品牌：开瑞新能源</div>
            <div class="item">
                <div class="l">
                    <div class="a">维修点：厦门昕华泰汽车修理厂</div>
                    <div class="b">地&nbsp;&nbsp;&nbsp;址：厦门市湖里区枋湖工业小区73号</div>
                </div>
                <div class="r" id="location">
                    <a href="javascript:void(0);">立即前往</a>
                </div>
            </div>
        </div>
    </div>

    <div class="message-box"></div>
    <script src="../static/js/jquery.min.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
    <script src="../static/js/rem.js"></script>
    <script src="../static/js/base.js"></script>
    <script src="../static/js/carRepair.js"></script>
</body>
</html>