<!DOCTYPE html>
<html lang="en" style="background: #F5F7FA;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0;">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/base.css">  
    <link rel="stylesheet" href="../static/css/carWz.css">
    <style type="text/css">
    </style>
    <title>违章查询</title>
</head>
<body style="background: #F5F7FA;">
    <div class="main">
        <div class="tel">
            <div class="tel-wrap">
                <p class="tit">填写车辆信息</p>
                <div class="telipt">
                    <input type="text" name="" id="lsnum" placeholder="请输入车牌号">
                </div>
                <div class="telipt">
                    <input type="text" name="" id="frameno" placeholder="请输入车架号">
                </div>
                <div class="telipt">
                    <input type="text" name="" id="engineno" placeholder="请输入发动机号">
                </div>
                <div class="tel-btn">
                    <div class="success">查询</div>
                </div>
            </div>
        </div>
        <div class="wrap">
            <!-- <div class="no">目前差无数据</div>
            <div class="item">
                <div class="l">
                    <div class="t">厦门湖里</div>
                    <div class="b">2019-07-12 22:22</div>
                </div>
                <div class="r">12分</div>
            </div>
            <div class="item">
                <div class="l">
                    <div class="t">厦门湖里</div>
                    <div class="b">2019-06-11 22:22</div>
                </div>
                <div class="r">3分</div>
            </div>
            <div class="item">
                <div class="l">
                    <div class="t">厦门湖里</div>
                    <div class="b">2019-05-11 22:22</div>
                </div>
                <div class="r">9分</div>
            </div> -->
        </div>
    </div>


    <script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/rem.js"></script>
	<script src="../static/js/base.js"></script>
	<script src="../static/js/carWz.js"></script>
</body>
</html>