<!DOCTYPE html>
<html lang="en" style="background: rgb(245, 247, 250);">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/cash.css">   
    <title>Document</title>
</head>
<body style="background: rgb(245, 247, 250);">
    <div class="main">
        <div class="top">
            <p class="tit">账户余额(元)</p>
            <p class="money" id="money">0.00</p>
            <div class="btn">
                <!-- <div class="recharge"><a href="chongzhi.html?type=1">我要充值</a></div> -->
                <div class="cash"><a href="chongzhi.html?type=2">余额提现</a></div>
            </div>
        </div>
        <div class="nav">
            <!-- <div class="item">充值明细</div> -->
            <div class="item">提现明细</div>
        </div>
        <div class="wrap" id="wrap">
            <!-- <div class="no">目前暂无数据</div> -->
            <!-- <div class="item">
                <div class="l">
                    <p class="t">充值-微信</p>
                    <p class="b">
                        <span class="status suc" id="status">充值成功</span>
                        <span class="time">2018-11-11 11:11</span>
                    </p>
                </div>
                <div class="r">12.12</div>
            </div>
            <div class="item">
                <div class="l">
                    <p class="t">充值-微信</p>
                    <p class="b">
                        <span class="status defaule" id="status">处理中</span>
                        <span class="time">2018-11-11 11:11</span>
                    </p>
                </div>
                <div class="r">12.12</div>
            </div>
            <div class="item">
                <div class="l">
                    <p class="t">充值-微信</p>
                    <p class="b">
                        <span class="status faild" id="status">充值失败</span>
                        <span class="time">2018-11-11 11:11</span>
                    </p>
                </div>
                <div class="r">12.12</div>
            </div> -->
        </div>
    </div>


    <div class="message-box"></div>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/rem.js"></script>
    <script src="../static/js/base.js"></script>
    <script src="../static/js/cash.js"></script>
</body>
</html>