<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/base.css">  
	
	
    <link rel="stylesheet" href="../static/css/chongzhi.css">
    <title>立即充值</title>
</head>
<body style="background: #fff;">
    <input type="hidden" name="" id="userName">
    <input type="hidden" name="" id="tel">
    <div class="main">
        <!-- 充值 -->
        <div class="tel" id="chongzhi">
            <div class="tel-wrap">
                <a href="xrrz.html" class="tips" style="display: none;">您还未完成新人认证，请前往认证</a>
                <p class="tit" id="czTit" style="display: none;">请充值</p>
                <div class="price" id="price" style="display: none;">
                    <div class="item" id="one" data-xh="1" data-price="188" data-no="0" data-idx="2" data-gradename="高级会员">
                        <div class="l">¥188</div>
                        <div class="r">初级会员升级为 <span>高级会员</span></div>
                        <div class="icon"></div>
                    </div>
                    <div class="item" id="two" data-xh="2" data-price="388" data-no="1" data-idx="3" data-gradename="VIP会员">
                        <div class="l">¥388</div>
                        <div class="r">高级会员升级为 <span>VIP会员</span></div>
                        <div class="icon"></div>
                    </div>
                    <div class="item" id="thr" data-xh="1" data-price="588" data-no="2" data-idx="3" data-gradename="VIP会员">
                        <div class="l">¥588</div>
                        <div class="r">初级会员升级为 <span>VIP会员</span></div>
                        <div class="icon"></div>
                    </div>
                </div>
                <div class="telipt" id="czJeBox">
                    <input type="text" name="" id="czJe"  placeholder="请输入充值金额">
                </div>
                <div class="tel-btn">
                    <div class="success" id="czBtn">立即充值</div>
                </div>
                <div class="info">
                    <a href="vipGrade.html">会员权益</a>
                    <span></span>
                    <a href="active.html">推广奖励</a>
                </div>
            </div>
        </div>
        <!-- 提现 -->
        <div class="tel" id="cash">
            <a href="xrrz.html" class="tips" style="display: none;">您还未完成新人认证，请前往认证</a>
            <div class="tel-wrap">
                <p class="tit" id="txTit">账户余额提现</p>
                <div class="telipt">
                    <input type="text" name="" id="txJe" placeholder="请输入提现金额">
                </div>
                <div class="telipt">
                    <input type="text" name="" id="txMobile" placeholder="请输入提现手机号">
                </div>
                <div class="tel-btn">
                    <div class="success" id="txBtn">立即提现</div>
                </div>
            </div>
        </div>
    </div>

    <div class="message-box"></div>
    <!-- <script src="../static/js/jquery.min.js"></script> -->
    <script src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js "></script>
    <script src="../static/js/rem.js"></script>
    <script src="../static/js/base.js"></script>
    <script src="../static/js/chongzhi.js"></script>
</body>
</html>