<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0;">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/base.css">
    <link rel="stylesheet" href="../static/css/carDetail.css">
    <link rel="stylesheet" href="../static/css/driver.css">    
    <title>司机之家</title>
</head>
<body>
    <div class="banner">
        <img src="../static/images/driver.jpg" alt="司机之家">
    </div>
    <div class="item">
        <div class="icon">
            <img src="../static/images/icon1-1.png" alt="货源信息">
            <div>货源信息</div>
        </div>
        <div class="icon">
            <img src="../static/images/icon1-2.png" alt="互助保险">
            <div>互助保险</div>
        </div>
        <div class="icon">
            <img src="../static/images/icon1-3.png" alt="生活服务">
            <div>生活服务</div>
        </div>
    </div>
    <div class="item">
        <div class="icon">
            <img src="../static/images/icon2-1.png" alt="车辆置换">
            <div>车辆置换</div>
        </div>
        <div class="icon">
            <img src="../static/images/icon2-2.png" alt="车辆维护">
            <div>车辆维护</div>
        </div>
        <div class="icon">
            <img src="../static/images/icon2-3.png" alt="违章查询">
            <div>违章查询</div>
        </div>
    </div>
    <div class="item">
        <div class="icon">
            <img src="../static/images/icon3-1.png" alt="银行钱包">
            <div>银行钱包</div>
        </div>
        <div class="icon">
            <img src="../static/images/icon3-2.png" alt="保险服务">
            <div>保险服务</div>
        </div>
        <div class="icon">
            <img src="../static/images/icon3-3.png" alt="申请付款码">
            <div>申请付款码</div>
        </div>
    </div>
    <div class="item">
        <div class="icon">
            <img src="../static/images/icon4-1.png" alt="申请ETC">
            <div>申请ETC</div>
        </div>
        <div class="icon">
            <img src="../static/images/icon4-2.png" alt="申请银行卡">
            <div>申请银行卡</div>
        </div>
        <div class="icon">
            <img src="../static/images/icon4-3.png" alt="申请营业执照">
            <div>申请营业执照</div>
        </div>
    </div>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/rem.js"></script>
</body>
</html>