<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../static/css/reset.css">
	<link rel="stylesheet" href="../static/css/base.css">
	<link rel="stylesheet" href="../static/css/driverApply.css">   
	<style type="text/css">
	</style>
	<title>司机招募</title>
</head>
<body>
	<div class="b">
		<div class="banner">
			<img src="../static/images/driver-banner.png" alt="司机之家">
		</div>
		<!-- <div class="item-1">龙锟司机一站式招募</div> -->
		<div class="item-2" style="margin-top: .4rem;margin-bottom: .4rem;">加入龙锟司机理由</div>
		<div class="item">
			<div class="wrap">
				<div class="icon icon-a"></div>
				<div class="wrap-1">多种车型任选</div>
				<div class="wrap-2">有车开</div>
			</div>
			<div class="wrap">
				<div class="icon icon-b"></div>
				<div class="wrap-1">提供充足货源</div>
				<div class="wrap-2">有货拉</div>
			</div>
			<div class="wrap">
				<div class="icon icon-c"></div>
				<div class="wrap-1">多劳多得赚到钱</div>
				<div class="wrap-2">有钱赚</div>
			</div>
			<div class="wrap">
				<div class="icon icon-d"></div>
				<div class="wrap-1">更多保障更多优惠</div>
				<div class="wrap-2">福利多</div>
			</div>
		</div>
		<div class="tips">
			<div class="xx">*</div>
			<div class="txt">凡加入龙锟司机，即可获得价值1000元租车/购车红包</div>
		</div>
		<!-- <div class="item-3" style="margin-top: .8rem;">合作单位</div>
		<div class="picture">
			<div class="item">
				<div class="icon icon-a"></div>
			</div>
			<div class="item">
				<div class="icon icon-c"></div>
			</div>
			<div class="item">
				<div class="icon icon-b"></div>
			</div>
		</div>
		<p style="text-align: center;height: 1rem;line-height: 1rem;">......</p> -->
		<div class="item-4">龙锟司机加入条件</div>
		<div class="yaoqiu">
			<ul>
				<li>年龄</li>
				<div>男：21-60周岁；女：21-55周岁</div>
				<li>驾龄</li>
				<div>驾龄一年以上，准驾车型C1及以上</div>
				<li>其他</li>
				<div style="color: #FF7E00;">无暴力犯罪记录、无交通肇事犯罪、危险驾驶犯罪记录、无吸毒记录、无饮酒后驾驶记录。</div>
			</ul>
		</div>
		
		<div class="name">
			<div class="name-item">
				<div class="good"><label>*</label>您的名字</div> 
				<div class="inp">
					<input type="text" name="" id="inputName" placeholder="请填写您的名字">
				</div>
			</div>
			<div class="name-item">
				<div class="good"><label>*</label>您所在的城市</div> 
				<div class="inp">
					<input type="text" name="" id="inputCity" placeholder="请填写城市">
				</div>
			</div>
			<div class="name-item">
				<div class="good"><label>*</label>您的手机号码</div> 
				<div class="inp">
					<input type="tel" name="" id="inputTel" placeholder="请填写您的手机号码">
				</div>
			</div>
			<div class="name-item">
				<div class="good"><label>*</label>短信验证码</div> 
				<div class="inp aa" style="display: flex;">
					<input type="text" class="a" id="code1" autocomplete="off" name="" placeholder="短信验证码">
					<input type="button" id="btnSendCode1" class="b" value="获取验证码" onclick="sendMessage1()">
				</div>
			</div>
			
			<div class="name-item">
				<div class="good"><label>*</label>您的加入方式</div> 
				<div class="item">
					<div class="rad">
						<label for="rent">
							<input type="radio" name="carType" id="rent" value="租车加入" />租车加入
						</label>
					</div>
					<div class="rad">
						<label for="buy">
							<input type="radio" name="carType" id="buy" value="购车加入" />购车加入
						</label>
					</div>
				</div>
				<div class="item">
					<div class="rad">
						<label for="noCar">
							<input type="radio" name="carType" id="noCar" value="有车加入" />有车加入
						</label>
					</div>
					<div class="rad">
						<label for="noCar">
							<input type="radio" name="carType" id="noCar" value="无车加入" />无车加入
						</label>
					</div>
				</div>
			</div>
			<div class="agree">
				<div class="icon"></div>
				<div class="a">同意加入</div>
				<a class="b" href="information.html">《加入龙锟司机的条件说明》</a>
			</div>
			<div class="btn-wrap" id="btnOne" style="display: none;">
				<div class="btn a">立即加入</div>
				<a href="javascript:void(0);" class="a" id="btnThr">邀请好友加入龙锟司机</a>
			</div>
			<div class="btn-wrap" id="btnTwo" style="display: none;">
				<!-- <div class="btn a">您已加入</div> -->
				<a href="shenhe.html" class="a b">您已加入</a>
				<a href="javascript:void(0);" class="a" id="btnThred">邀请好友加入龙锟司机</a>
			</div>
		</div>
	</div>

	<div class="pop"></div>
	<div class="message-box"></div>


	<!-- 您的好友邀请您加入 -->
	<div class="bg"></div>
    <div class="sharea">
        <div class="sharea-wrap">
            <div class="sharea-img">
                <img src="../static/images/qrcode_for_gh_ef7da6961a3a_258.jpg" alt="">
            </div>
            <div class="sharea-info">
                <!-- <p class="a">来自好友<span id="shangji"></span>的推荐</p> -->
                <p class="b">关注公众号，领取新人红包</p>
                <p class="b">长按识别二维码关注</p>
            </div>
            <div class="closea"></div>
        </div>
    </div>
	<script src="../static/js/jquery.min.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
	<script src="../static/js/rem.js"></script>
	<script src="../static/js/base.js"></script>
	<script src="../static/js/driverApply.js"></script>
	<script>
		var phoneReg = /(^1[3|4|5|7|8]\d{9}$)|(^09\d{8}$)/;//手机号正则 
		var count = 60; //间隔函数，1秒执行
		var InterValObj1; //timer变量，控制时间
		var curCount1;//当前剩余秒数
		/*第一*/
		function sendMessage1() {
			curCount1 = count;		 		 
			var phone = $.trim($('#inputTel').val());
			if (!phoneReg.test(phone)) {
				alert("请输入有效的手机号码"); 
				return false;
			}
			//设置button效果，开始计时
			$("#btnSendCode1").attr("disabled", "true");
			$("#btnSendCode1").val( + curCount1 + "秒再获取");
			InterValObj1 = window.setInterval(SetRemainTime1, 1000); //启动计时器，1秒执行一次
			//向后台发送处理数据
			var appCode = 'fxjsms';
			var templateparam = Math.round((Math.random()*9000) + 1000);
			$.ajax({
				type: "GET",
				url: baseUrl + "/rest/base/sendsms?appCode="+appCode+"&phonenumbers="+phone+"&templateparam="+templateparam,
				contentType:"application/json;charset=UTF-8",
				success: function(data){
					let e = JSON.parse(data);
					if(e.ok){
						messageBox("短信验证码已发送！");
					}else{
						messageBox(e.message);
					}
				}
			});
				
		}
		function SetRemainTime1() {
			if (curCount1 == 0) {                
				window.clearInterval(InterValObj1);//停止计时器
				$("#btnSendCode1").removeAttr("disabled");//启用按钮
				$("#btnSendCode1").val("重新发送");
			}
			else {
				curCount1--;
				$("#btnSendCode1").val( + curCount1 + "秒再获取");
			}
		} 
	</script>
</body>
</html>