<!DOCTYPE html>
<html lang="en" style="background: rgb(245, 247, 250);">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/hb.css">   
    <title>红包</title>
</head>
<body style="background: rgb(245, 247, 250);">
    <div class="maina" style="background: rgb(245, 247, 250);">
        <div class="nav">
            <div class="item active">未使用</div>
            <div class="item">待审批</div>
            <div class="item">已发放</div>
        </div>
        <div class="wrap" id="wrap">
            <!-- <div class="item">
                <div class="top">新人红包</div>
                <div class="mid">
                    <div class="l"><div class="price">￥100</div></div>
                    <div class="r">
                        <p class="info">完成新人认证之后，红包将自动发放至您的账户。</p>
                        <p class="info">本红包可用于租车购车消费</p>
                    </div>
                </div>
                <div class="bt">
                    <div class="btn" data-id="">立即领取</div>
                </div>
            </div> -->
        </div>
    </div>
    <!-- <div class="qrcode-box" style="display: none;">
        <div class="qrcode-wrap">
            <div class="close"></div>
            <p>请向商家出示该二维码使用红包</p>
            <div class="qrcode-img" id="qrCode">
                
            </div>
        </div>
    </div> -->
    <div class="message-box"></div>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery.qrcode.min.js"></script>
    <script src="../static/js/rem.js"></script>
    <script src="../static/js/base.js"></script>
    <script src="../static/js/hb.js"></script>
</body>
</html>