<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../static/css/reset.css">
	<link rel="stylesheet" href="../static/css/base.css">
	<link rel="stylesheet" href="../static/css/information.css">
	<title>加入龙锟司机的条件说明</title>
</head>
<body>
	<div class="maina">
		<div class="tit">加入龙锟司机的条件说明和承诺</div>
		<p>注册成为龙锟司机，应满足以下标准。不满足下列任一标准的用户，请勿申请注册龙锟司机。</p>
		<p>用户注册龙锟司机时，应如实提供相应信息及资料供厦门龙锟汽车贸易有限公司（以下简称“龙锟汽车”）审核，并对资料的真实、客观、完整负责。龙锟汽车将尽最大努力对用户是否满足下列标准予以审核。但因部分审核项目前缺乏可供核对的权威数据源，龙锟汽车仅可对该类项目中司机提供的资料予以形式审核，无法进行实质审核。经龙锟汽车审核满足下列标准的，可注册加入成为龙锟司机。</p>
		<p>用户注册成为龙锟司机后，被龙锟汽车发现实际不满足下列标准或者因自身情况变化不再符合以下标准的，龙锟汽车可终止其司机资格。明知自己不符合下列标准仍注册司机，或者所提供信息、资料不符合“真实、客观、完整”要求的用户，给其他用户或龙锟汽车造成损失的，龙锟汽车将依法追究其法律责任。</p>
		<p>龙锟司机准入标准：</p>
		<p class="sub-tit">1. 身份证</p>
		<p>1.1 年龄需符合当地政府的准入要求，参考全国年龄的准入标准，女性司机年龄在21-55周岁之间，男性司机年龄在21-60周岁之间。各地方实施的法律法规另有规定的，从其规定。（如出生日期为1980年10月5日，则2001年10月6日起满21周岁，2036年10月6日起超出55周岁）</p>
		<p>1.2 身份证在有效期内，且剩余有效期在90天以上。</p>
		<p class="sub-tit">2. 驾驶证</p>
		<p>2.1 取得相应准驾车型机动车驾驶证并具有3年以上驾驶经历。</p>
		<p>2.2 机动车驾驶证载明的准驾车型为A1、A2、A3、B1、B2、C1、C2，且满足申领C2以上驾驶证的身体标准要求；</p>
		<p>2.3 最近连续3个记分周期内没有记满12分记录。</p>
		<p>2.4 中华人民共和国机动车驾驶证在有效期内，且剩余有效期在90天以上。</p>
		<p class="sub-tit">3. 行驶证</p>
		<p>3.1 车辆类型为乘用车或微商用车。</p>
		<p>3.2 安装具有行驶记录功能的车辆卫星定位装置、应急报警装置。</p>
		<p>3.3 行驶证在检验有效期内，且剩余有效期在90天以上。</p>
		<p>3.4 车辆已投保机动车交通事故责任强制保险和机动车第三者责任强制保险，且在保险期限内。</p>
		<p>3.5除上述标准外，还应满足各地方实施的法律法规规定的其它准入标准。</p>
		<p class="sub-tit">4. 其它</p>
		<p>4.1 无犯罪记录（含交通肇事犯罪、危险驾驶犯罪、暴力犯罪以及其它犯罪行为）。</p>
		<p>4.2 未因涉嫌犯罪，处于调查、侦查、审查起诉或审判阶段。</p>
		<p>4.3 无吸毒记录。</p>
		<p>4.4 无饮酒后驾驶记录。　</p>
		<p>4.5 未患有妨碍安全驾驶机动车的疾病（如器质性心脏病、癫痫病、美尼尔氏症、眩晕症、癔病、震颤麻痹、精神病、痴呆以及影响肢体活动的神经系统疾病等）。</p>
		<p>4.6 驾驶人日常裸露部位不存在可能引起乘客不适的伤痕、纹身等。</p>
		<p>4.7 不存在法院、金融机构等的信用风险记录。</p>
		<p>4.8 不存在龙锟汽车认为不适宜作为司机的其他情况。</p>
		<p class="sub-tit">5.承诺</p>
		<p>5.1申请注册时，请您填写真实有效的个人信息，否则自行承担提交虚假信息的不利后果。</p>
		<p>5.2本人同意并授权龙锟汽车，将本人的手机号码提供给龙锟汽车，只用于在龙锟汽车推广汽车租售产品及其他相关产品，不用作其他途径。</p>
		<p>5.3本人同意并授权龙锟汽车，在本人加入龙锟司机后，使用本人的手机号、姓名和身份证号码等信息，核验本人是否拥有相关运营资质，并做相应标识。</p>
		<p class="xieyi">本人已认真阅读并全面理解、同意以上内容。</p>
	</div>
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/rem.js"></script>
	<script src="../static/js/base.js"></script>
</body>
</html>