<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/kefu.css"> 
    <title>联系客服</title>
</head>
<body>
    <div class="main">
        <div class="wrap">
            <div class="pic">
                <img src="../static/images/kefu.jpg" alt="">
            </div>
            <div class="info">
                <p class="tit">联系方式</p>
                <a href="tel:4000592169" class="item">
                    <div class="l">
                        <div class="icon icon-1"></div>
                        <div class="txt">联系电话</div>
                    </div>
                    <div class="r">
                        <div class="txt" id="tel"></div>
                    </div>
                </a>
                <a href="javascript:void(0);" class="item">
                    <div class="l">
                        <div class="icon icon-2"></div>
                        <div class="txt">联系微信</div>
                    </div>
                    <div class="r">
                        <div class="txt" id="weixin"></div>
                    </div>
                </a>
                <a href="javascript:void(0);" class="item">
                    <div class="l">
                        <div class="icon icon-3"></div>
                        <div class="txt">服务网点</div>
                    </div>
                    <div class="r">
                        <div class="txt" style="font-size: .22rem;" id="wangdian"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="message-box"></div>
    
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/rem.js"></script>
    <script src="../static/js/base.js"></script>
    <script src="../static/js/kefu.js"></script>
</body>
</html>