<!DOCTYPE html>
<html lang="en" style="background: rgb(245, 247, 250);">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0;">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/myAccount.css">   
    <title>账户余额</title>
</head>
<body style="background: rgb(245, 247, 250);">
    <div class="main" style="background: rgb(245, 247, 250);">
        <div class="top">
            <p class="tit">账户余额 (元)</p>
            <p class="money" id="money">0.00</p>
            <a class="cash" href="cash.html?type=2">我要提现</a>
        </div>
        <div class="nav">
            <!-- <div class="item">
                <p class="t">充值余额(元)</p>
                <p class="b">￥<span id="chongzhi">0.00</span></p>
            </div> -->
            <div class="item">
                <p class="t">奖励余额 (元)</p>
                <p class="b">￥<span id="jiangli">0.00</span></p>
            </div>
            <div class="item">
                <p class="t">红包 (个)</p>
                <p class="b"><span id="hb">0</span></p>
            </div>
        </div>
        <div class="wrap" id="wrap">
           
        </div>
    </div>
    <div class="message-box"></div>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/rem.js"></script>
    <script src="../static/js/base.js"></script>
    <script src="../static/js/myFinance.js"></script>
</body>
</html>