<!DOCTYPE html>
<html lang="en" style="background: rgb(245, 247, 250);">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/orderForm.css">
    <title>订单</title>
</head>
<body style="background: rgb(245, 247, 250);">
    <div class="header">
        <div class="header-item" data-type="0">已预约</div>
        <div class="header-item"data-type="1">办理中</div>
        <div class="header-item"data-type="2">已完结</div>
    </div>
    <div class="order" id="order">
        
    </div>
	<footer class="footer">
        <div class="footer-item">
            <a href="../index.html">
                <div class="footer-pic">
                    <img src="../static/images/footer-1.png" alt="首页">
                </div>
                <p>首页</p>
            </a>
        </div>
        <!-- <div class="footer-item qrcode">
            <a href="javascript:void(0);">
                <div class="footer-pic">
                    <img src="../static/images/footer-2.png" alt="渠道进件">
                </div>
                <p>业务进件</p>
            </a>
        </div> -->
        <div class="footer-item message">
            <a href="javascript:void(0);">
                <div class="footer-pic">
                    <img src="../static/images/footer-2.png" alt="渠道进件">
                </div>
                <p>业务进件</p>
            </a>
        </div>
        <div class="footer-item">
            <a href="javascript:void(0);">
                <div class="footer-pic">
                    <img src="../static/images/footer-3.png" alt="订单">
                </div>
                <p>订单</p>
            </a>
        </div>
        <div class="footer-item">
            <a href="my.html">
                <div class="footer-pic">
                    <img src="../static/images/footer-4.png" alt="我的">
                </div>
                <p>我的</p>
            </a>
        </div>
    </footer>
    <div class="qrcode-box">
        <div class="qrcode-wrap">
            <div class="close"></div>
            <p>请扫二维码进入小程序</p>
            <div class="qrcode-img">
                <img src="../static/images/zhaodui.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="message-box"></div>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/rem.js"></script>
    <script src="../static/js/base.js"></script>
    <script src="../static/js/orderForm.js"></script>
</body>
</html>