<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/share.css">   
    <title>邀请好友</title>
</head>
<body>
     <div class="mainb" style="padding-top: .5rem;background: linear-gradient(to right, #51cc95, #1eacb8);">
        <div class="hb">
            <!-- <p class="txt">您的好友喊你一起拿福利</p> -->
        </div>
        <div class="boxB">
            <div class="boxA" style="padding-left: .5rem;">
                <div class="l">
                    <div id="codeBoxA" style="width: 1rem;height:1rem;"></div>
                </div>
                <div class="r">
                    <p id="tjr"></p>
                    <p>推荐你加入龙锟汽车，扫码得福利礼包</p>
                </div>
            </div>
            <div class="box">
                <div class="item" id="smShare">
                    <div class="icon icon-1"></div>
                    <p>扫码邀请</p>
                </div>
                <div class="item" id="wxShare">
                    <div class="icon icon-2"></div>
                    <p>微信邀请</p>
                </div>
            </div>
        </div>
        
     </div>



    <div class="message-box"></div>

    <!-- 扫码邀请 -->
    <div class="bg"></div>
    <div class="share">
        <div class="share-wrap">
            <div class="qr-code" id="qrCode"></div>
            <p class="f">邀请好友领取您的二维码</p>
            <p class="g">加入龙锟汽车</p>
        </div>
        <div class="gb">关闭</div>
    </div>
    <!-- 微信分享 -->
    <div class="share-bg">
        <img src="../static/images/share-bg.png" alt="">
    </div>
    <!-- 您的好友邀请您加入 -->
    <div class="sharea">
        <div class="sharea-wrap">
            <div class="sharea-img">
                <img src="../static/images/qrcode_for_gh_ef7da6961a3a_258.jpg" alt="">
            </div>
            <div class="sharea-info">
                <p class="a">来自好友<span id="shangji"></span>的推荐</p>
                <p class="b">关注公众号，领取新人红包</p>
                <p class="b">长按识别二维码关注</p>
            </div>
            <div class="closea"></div>
        </div>
    </div>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery.qrcode.min.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
    <script src="../static/js/rem.js"></script>
    <script src="../static/js/base.js"></script>
    <script src="../static/js/share.js"></script>
</body>
</html>