<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0;">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/base.css">  
    <link rel="stylesheet" href="../static/css/cwqd.css">
    <title>成为渠道</title>
</head>
<body>
    <div class="main">
        <div class="box1">
            <p>您已成功提交申请，我们将会安排工作人员与您联系。</p>
            <!-- <p>红包已发放到您的账户，请查收！</p> -->
            <p>如有疑问，请拔打<a href="tel:4000592169">400-0592-169</a></p>
        </div>
    </div>

    <div class="message-box"></div>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/rem.js"></script>
    <script src="../static/js/base.js"></script>
    <!-- <script src="../static/js/cwqd.js"></script> -->
    <script>
        $(function(){
            setTimeout(function(){
                // history.go(-1);
                window.location.href = '../index.html';
            },3000);
        })
    </script>
</body>
</html>