<?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE mapper   
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="com.jun.biz.manager.dao.AdminDao">

	<resultMap id="BaseResultMap" type="com.jun.biz.manager.model.Admin">
		<id column="id" property="id"/>
		<result property="username" column="username"/>
		<result property="password" column="password"/>
		<result property="realName" column="real_name"/>
		<result property="createTime" column="create_time"/>
		<result property="lastLoginTime" column="last_login_time"/>
		<result property="createAdmin" column="create_admin"/>
		<result property="status" column="status"/>
	</resultMap>

<sql id="BaseColumnList">
	id,username,password,real_name,create_time,last_login_time,create_admin,status
		</sql>


	<!--<insert id="insert" useGeneratedKeys="true" keyProperty="id">
	        insert into
	        	s_admin 
	        <trim prefix="(" suffix=")" suffixOverrides="," >
	     				<if test="username != null">
				       	 username ,
				      </if>
	     				<if test="password != null">
				       	 password ,
				      </if>
	     				<if test="realName != null">
				       	 real_name ,
				      </if>
	     				<if test="createTime != null">
				       	 create_time ,
				      </if>
	     				<if test="lastLoginTime != null">
				       	 last_login_time ,
				      </if>
	     				<if test="createAdminId != null">
				       	 create_admin_id ,
				      </if>
	     				<if test="type != null">
				       	 type ,
				      </if>
	     				<if test="status != null">
				       	 status ,
				      </if>
	        </trim>
    		<trim prefix="values (" suffix=")" suffixOverrides="," >
		     				<if test="username != null">
					       	 #{username} ,
					      </if>
		     				<if test="password != null">
					       	 #{password} ,
					      </if>
		     				<if test="realName != null">
					       	 #{realName} ,
					      </if>
		     				<if test="createTime != null">
					       	 #{createTime} ,
					      </if>
		     				<if test="lastLoginTime != null">
					       	 #{lastLoginTime} ,
					      </if>
		     				<if test="createAdminId != null">
					       	 #{createAdminId} ,
					      </if>
		     				<if test="type != null">
					       	 #{type} ,
					      </if>
		     				<if test="status != null">
					       	 #{status} ,
					      </if>
	       </trim>
	</insert>
	
	
	

     <select id="selectById" resultMap="BaseResultMap" parameterType="long">
			select
				 <include refid="BaseColumnList" />
		    from
		    	s_admin 
		     where 
				s_admin.id = #{id}
	</select>
    
    
    <update id="update"   >
   		 update s_admin
    <set>
    		<if test="username != null">
		        username = #{username},
		      </if><if test="password != null">
		        password = #{password},
		      </if><if test="realName != null">
		        real_name = #{realName},
		      </if><if test="createTime != null">
		        create_time = #{createTime},
		      </if><if test="lastLoginTime != null">
		        last_login_time = #{lastLoginTime},
		      </if><if test="createAdminId != null">
		        create_admin_id = #{createAdminId},
		      </if><if test="type != null">
		        type = #{type},
		      </if><if test="status != null">
		        status = #{status},
		      </if>
    </set>
    where id = #{id}
   </update>
    
    
    <sql id="listWhere">
				       <if test="id != null">
							and s_admin.id = #{id}
						</if>
	       		 	 <if test="username != null and username != '' ">
							and s_admin.username = #{username}
						</if>
	       		 	 <if test="password != null and password != '' ">
							and s_admin.password = #{password}
						</if>
	       		 	 <if test="realName != null and realName != '' ">
							and s_admin.real_name = #{realName}
						</if>
	       <if test="minCreateTime != null">
    			<![CDATA[
					and s_admin.create_time >= #{minCreateTime}
	    		]]>
		   </if>
	       <if test="maxCreateTime != null">
	    		<![CDATA[
					and s_admin.create_time <= #{maxCreateTime}
		    	]]>
		   </if>
	       <if test="minLastLoginTime != null">
    			<![CDATA[
					and s_admin.last_login_time >= #{minLastLoginTime}
	    		]]>
		   </if>
	       <if test="maxLastLoginTime != null">
	    		<![CDATA[
					and s_admin.last_login_time <= #{maxLastLoginTime}
		    	]]>
		   </if>
				       <if test="createAdminId != null">
							and s_admin.create_admin_id = #{createAdminId}
						</if>
				       <if test="type != null">
							and s_admin.type = #{type}
						</if>
				       <if test="status != null">
							and s_admin.status = #{status}
						</if>
   </sql>
    
    <select id="count" resultType="long">
   		select 
   			count(*)
   		from
   			s_admin
   		<where>
   			<include refid="listWhere"/>
   		</where>
   </select>
	

    <select id="selectList" resultMap="BaseResultMap" >
   		select 
   			 <include refid="BaseColumnList"/>
   		from
   			s_admin
   		<where>
   			<include refid="listWhere"/>
   		</where>
   		<if test="orderBy != null ">
   			order by ${orderBy}
   			<if test="sort != null ">
   				${ sort}
   			</if>
   		</if>
   		<if test="beginIndex != null and resultSize != null">
			limit #{beginIndex} , #{resultSize}
		</if>
   </select>
    
   
	<delete id="deleteById" parameterType="long" >
	    delete from s_admin
	    where id = #{id}
  </delete>
  -->
   
    <select id="selectByUsername" resultMap="BaseResultMap" parameterType="String">
	   select 
   			 <include refid="BaseColumnList"/>
   		from
	        s_admin 
	     where username = #{username}
    </select>
   
   
   
   
   
   
   
   
	
</mapper>

