<?xml version="1.0" encoding="UTF-8" ?>   
    <!DOCTYPE mapper   
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="com.jun.biz.manager.dao.GatewayOrderDao">

	<resultMap id="BaseResultMap" type="com.jun.biz.manager.model.GatewayOrder">
        	    <id column="id"  property="id" />
	       		<result property="orderId" column="order_id"/>
	       		<result property="gatewayTradeNo" column="gateway_trade_no"/>
	       		<result property="createTime" column="create_time"/>
	       		<result property="notifyTime" column="notify_time"/>
	       		<result property="status" column="status"/>
	       		<result property="amount" column="amount"/>
	       		<result property="payType" column="pay_type"/>
	</resultMap>

<sql id="BaseColumnList">
id,order_id,gateway_trade_no,create_time,notify_time,status,amount,pay_type
		</sql>


	<!--<insert id="insert" useGeneratedKeys="true" keyProperty="id">
	        insert into
	        	o_gateway_order 
	        <trim prefix="(" suffix=")" suffixOverrides="," >
	     				<if test="orderId != null">
				       	 order_id ,
				      </if>
	     				<if test="gatewayTradeNo != null">
				       	 gateway_trade_no ,
				      </if>
	     				<if test="createTime != null">
				       	 create_time ,
				      </if>
	     				<if test="notifyTime != null">
				       	 notify_time ,
				      </if>
	     				<if test="status != null">
				       	 status ,
				      </if>
	     				<if test="amount != null">
				       	 amount ,
				      </if>
	     				<if test="payType != null">
				       	 pay_type ,
				      </if>
	        </trim>
    		<trim prefix="values (" suffix=")" suffixOverrides="," >
		     				<if test="orderId != null">
					       	 #{orderId} ,
					      </if>
		     				<if test="gatewayTradeNo != null">
					       	 #{gatewayTradeNo} ,
					      </if>
		     				<if test="createTime != null">
					       	 #{createTime} ,
					      </if>
		     				<if test="notifyTime != null">
					       	 #{notifyTime} ,
					      </if>
		     				<if test="status != null">
					       	 #{status} ,
					      </if>
		     				<if test="amount != null">
					       	 #{amount} ,
					      </if>
		     				<if test="payType != null">
					       	 #{payType} ,
					      </if>
	       </trim>
	</insert>
	
	
	

     <select id="selectById" resultMap="BaseResultMap" parameterType="long">
			select
				 <include refid="BaseColumnList" />
		    from
		    	o_gateway_order 
		     where 
				o_gateway_order.id = #{id}
	</select>
    
    
    <update id="update"   >
   		 update o_gateway_order
    <set>
    		<if test="orderId != null">
		        order_id = #{orderId},
		      </if><if test="gatewayTradeNo != null">
		        gateway_trade_no = #{gatewayTradeNo},
		      </if><if test="createTime != null">
		        create_time = #{createTime},
		      </if><if test="notifyTime != null">
		        notify_time = #{notifyTime},
		      </if><if test="status != null">
		        status = #{status},
		      </if><if test="amount != null">
		        amount = #{amount},
		      </if><if test="payType != null">
		        pay_type = #{payType},
		      </if>
    </set>
    where id = #{id}
   </update>
    
    
    <sql id="listWhere">
				       <if test="id != null">
							and o_gateway_order.id = #{id}
						</if>
				       <if test="orderId != null">
							and o_gateway_order.order_id = #{orderId}
						</if>
	       		 	 <if test="gatewayTradeNo != null and gatewayTradeNo != '' ">
							and o_gateway_order.gateway_trade_no = #{gatewayTradeNo}
						</if>
	       <if test="minCreateTime != null">
    			<![CDATA[
					and o_gateway_order.create_time >= #{minCreateTime}
	    		]]>
		   </if>
	       <if test="maxCreateTime != null">
	    		<![CDATA[
					and o_gateway_order.create_time <= #{maxCreateTime}
		    	]]>
		   </if>
	       <if test="minNotifyTime != null">
    			<![CDATA[
					and o_gateway_order.notify_time >= #{minNotifyTime}
	    		]]>
		   </if>
	       <if test="maxNotifyTime != null">
	    		<![CDATA[
					and o_gateway_order.notify_time <= #{maxNotifyTime}
		    	]]>
		   </if>
				       <if test="status != null">
							and o_gateway_order.status = #{status}
						</if>
				       <if test="amount != null">
							and o_gateway_order.amount = #{amount}
						</if>
				       <if test="payType != null">
							and o_gateway_order.pay_type = #{payType}
						</if>
   </sql>
    
    <select id="count" resultType="long">
   		select 
   			count(*)
   		from
   			o_gateway_order
   		<where>
   			<include refid="listWhere"/>
   		</where>
   </select>
	

    <select id="selectList" resultMap="BaseResultMap" >
   		select 
   			 <include refid="BaseColumnList"/>
   		from
   			o_gateway_order
   		<where>
   			<include refid="listWhere"/>
   		</where>
   		<if test="orderBy != null ">
   			order by ${orderBy}
   			<if test="sort != null ">
   				${ sort}
   			</if>
   		</if>
   		<if test="beginIndex != null and resultSize != null">
			limit #{beginIndex} , #{resultSize}
		</if>
   </select>
    
   
	<delete id="deleteById" parameterType="long" >
	    delete from o_gateway_order
	    where id = #{id}
  </delete>
  -->
   
    <select id="selectByOrderId" resultMap="BaseResultMap" parameterType="Integer">
	   select 
   			 <include refid="BaseColumnList"/>
   		from
	        o_gateway_order 
	     where order_id = #{orderId}
    </select>
   
   
   
   
   
   
   
	
</mapper>

