<?xml version="1.0" encoding="UTF-8" ?>   
    <!DOCTYPE mapper   
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="com.jun.biz.manager.dao.OpenUserDao">

	<resultMap id="BaseResultMap" type="com.jun.biz.manager.model.OpenUser">
        	    <id column="id"  property="id" />
	       		<result property="openid" column="openid"/>
	       		<result property="nickname" column="nickname"/>
	       		<result property="createTime" column="create_time"/>
	       		<result property="userInfo" column="user_info"/>
	       		<result property="userId" column="user_id"/>
	       		<result property="type" column="type"/>
	       		<result property="accessToken" column="access_token"/>
	</resultMap>

<sql id="BaseColumnList">
id,openid,nickname,create_time,user_info,user_id,type,access_token
		</sql>


	<!--<insert id="insert" useGeneratedKeys="true" keyProperty="id">
	        insert into
	        	u_open_user 
	        <trim prefix="(" suffix=")" suffixOverrides="," >
	     				<if test="openid != null">
				       	 openid ,
				      </if>
	     				<if test="nickname != null">
				       	 nickname ,
				      </if>
	     				<if test="createTime != null">
				       	 create_time ,
				      </if>
	     				<if test="userInfo != null">
				       	 user_info ,
				      </if>
	     				<if test="userId != null">
				       	 user_id ,
				      </if>
	     				<if test="type != null">
				       	 type ,
				      </if>
	     				<if test="accessToken != null">
				       	 access_token ,
				      </if>
	        </trim>
    		<trim prefix="values (" suffix=")" suffixOverrides="," >
		     				<if test="openid != null">
					       	 #{openid} ,
					      </if>
		     				<if test="nickname != null">
					       	 #{nickname} ,
					      </if>
		     				<if test="createTime != null">
					       	 #{createTime} ,
					      </if>
		     				<if test="userInfo != null">
					       	 #{userInfo} ,
					      </if>
		     				<if test="userId != null">
					       	 #{userId} ,
					      </if>
		     				<if test="type != null">
					       	 #{type} ,
					      </if>
		     				<if test="accessToken != null">
					       	 #{accessToken} ,
					      </if>
	       </trim>
	</insert>
	
	
	

     <select id="selectById" resultMap="BaseResultMap" parameterType="long">
			select
				 <include refid="BaseColumnList" />
		    from
		    	u_open_user 
		     where 
				u_open_user.id = #{id}
	</select>
    
    
    <update id="update"   >
   		 update u_open_user
    <set>
    		<if test="openid != null">
		        openid = #{openid},
		      </if><if test="nickname != null">
		        nickname = #{nickname},
		      </if><if test="createTime != null">
		        create_time = #{createTime},
		      </if><if test="userInfo != null">
		        user_info = #{userInfo},
		      </if><if test="userId != null">
		        user_id = #{userId},
		      </if><if test="type != null">
		        type = #{type},
		      </if><if test="accessToken != null">
		        access_token = #{accessToken},
		      </if>
    </set>
    where id = #{id}
   </update>
    
    
    <sql id="listWhere">
				       <if test="id != null">
							and u_open_user.id = #{id}
						</if>
	       		 	 <if test="openid != null and openid != '' ">
							and u_open_user.openid = #{openid}
						</if>
	       		 	 <if test="nickname != null and nickname != '' ">
							and u_open_user.nickname = #{nickname}
						</if>
	       <if test="minCreateTime != null">
    			<![CDATA[
					and u_open_user.create_time >= #{minCreateTime}
	    		]]>
		   </if>
	       <if test="maxCreateTime != null">
	    		<![CDATA[
					and u_open_user.create_time <= #{maxCreateTime}
		    	]]>
		   </if>
	       		 	 <if test="userInfo != null and userInfo != '' ">
							and u_open_user.user_info = #{userInfo}
						</if>
				       <if test="userId != null">
							and u_open_user.user_id = #{userId}
						</if>
				       <if test="type != null">
							and u_open_user.type = #{type}
						</if>
	       		 	 <if test="accessToken != null and accessToken != '' ">
							and u_open_user.access_token = #{accessToken}
						</if>
   </sql>
    
    <select id="count" resultType="long">
   		select 
   			count(*)
   		from
   			u_open_user
   		<where>
   			<include refid="listWhere"/>
   		</where>
   </select>
	

    <select id="selectList" resultMap="BaseResultMap" >
   		select 
   			 <include refid="BaseColumnList"/>
   		from
   			u_open_user
   		<where>
   			<include refid="listWhere"/>
   		</where>
   		<if test="orderBy != null ">
   			order by ${orderBy}
   			<if test="sort != null ">
   				${ sort}
   			</if>
   		</if>
   		<if test="beginIndex != null and resultSize != null">
			limit #{beginIndex} , #{resultSize}
		</if>
   </select>
    
   
	<delete id="deleteById" parameterType="long" >
	    delete from u_open_user
	    where id = #{id}
  </delete>
  -->
   
   
   
   
   
   
   
   
	
</mapper>

