<?xml version="1.0" encoding="UTF-8" ?>   
    <!DOCTYPE mapper   
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="com.jun.biz.manager.dao.PermissionDao">

	<resultMap id="BaseResultMap" type="com.jun.biz.manager.model.Permission">
        	    <id column="id"  property="id" />
	       		<result property="pid" column="pid"/>
	       		<result property="title" column="title"/>
	       		<result property="code" column="code"/>
	       		<result property="icon" column="icon"/>
	       		<result property="type" column="type"/>
	       		<result property="href" column="href"/>
	       		<result property="createTime" column="create_time"/>
	       		<result property="weight" column="weight"/>
	</resultMap>

<sql id="BaseColumnList">
id,pid,title,code,icon,type,href,create_time,weight
		</sql>


	<!--<insert id="insert" useGeneratedKeys="true" keyProperty="id">
	        insert into
	        	s_permission 
	        <trim prefix="(" suffix=")" suffixOverrides="," >
	     				<if test="pid != null">
				       	 pid ,
				      </if>
	     				<if test="title != null">
				       	 title ,
				      </if>
	     				<if test="code != null">
				       	 code ,
				      </if>
	     				<if test="icon != null">
				       	 icon ,
				      </if>
	     				<if test="type != null">
				       	 type ,
				      </if>
	     				<if test="href != null">
				       	 href ,
				      </if>
	     				<if test="createTime != null">
				       	 create_time ,
				      </if>
	     				<if test="weight != null">
				       	 weight ,
				      </if>
	        </trim>
    		<trim prefix="values (" suffix=")" suffixOverrides="," >
		     				<if test="pid != null">
					       	 #{pid} ,
					      </if>
		     				<if test="title != null">
					       	 #{title} ,
					      </if>
		     				<if test="code != null">
					       	 #{code} ,
					      </if>
		     				<if test="icon != null">
					       	 #{icon} ,
					      </if>
		     				<if test="type != null">
					       	 #{type} ,
					      </if>
		     				<if test="href != null">
					       	 #{href} ,
					      </if>
		     				<if test="createTime != null">
					       	 #{createTime} ,
					      </if>
		     				<if test="weight != null">
					       	 #{weight} ,
					      </if>
	       </trim>
	</insert>
	
	
	

     <select id="selectById" resultMap="BaseResultMap" parameterType="long">
			select
				 <include refid="BaseColumnList" />
		    from
		    	s_permission 
		     where 
				s_permission.id = #{id}
	</select>
    
    
    <update id="update"   >
   		 update s_permission
    <set>
    		<if test="pid != null">
		        pid = #{pid},
		      </if><if test="title != null">
		        title = #{title},
		      </if><if test="code != null">
		        code = #{code},
		      </if><if test="icon != null">
		        icon = #{icon},
		      </if><if test="type != null">
		        type = #{type},
		      </if><if test="href != null">
		        href = #{href},
		      </if><if test="createTime != null">
		        create_time = #{createTime},
		      </if><if test="weight != null">
		        weight = #{weight},
		      </if>
    </set>
    where id = #{id}
   </update>
    
    
    <sql id="listWhere">
				       <if test="id != null">
							and s_permission.id = #{id}
						</if>
				       <if test="pid != null">
							and s_permission.pid = #{pid}
						</if>
	       		 	 <if test="title != null and title != '' ">
							and s_permission.title = #{title}
						</if>
	       		 	 <if test="code != null and code != '' ">
							and s_permission.code = #{code}
						</if>
	       		 	 <if test="icon != null and icon != '' ">
							and s_permission.icon = #{icon}
						</if>
				       <if test="type != null">
							and s_permission.type = #{type}
						</if>
	       		 	 <if test="href != null and href != '' ">
							and s_permission.href = #{href}
						</if>
	       <if test="minCreateTime != null">
    			<![CDATA[
					and s_permission.create_time >= #{minCreateTime}
	    		]]>
		   </if>
	       <if test="maxCreateTime != null">
	    		<![CDATA[
					and s_permission.create_time <= #{maxCreateTime}
		    	]]>
		   </if>
				       <if test="weight != null">
							and s_permission.weight = #{weight}
						</if>
   </sql>
    
    <select id="count" resultType="long">
   		select 
   			count(*)
   		from
   			s_permission
   		<where>
   			<include refid="listWhere"/>
   		</where>
   </select>
	

    <select id="selectList" resultMap="BaseResultMap" >
   		select 
   			 <include refid="BaseColumnList"/>
   		from
   			s_permission
   		<where>
   			<include refid="listWhere"/>
   		</where>
   		<if test="orderBy != null ">
   			order by ${orderBy}
   			<if test="sort != null ">
   				${ sort}
   			</if>
   		</if>
   		<if test="beginIndex != null and resultSize != null">
			limit #{beginIndex} , #{resultSize}
		</if>
   </select>
    
   
	<delete id="deleteById" parameterType="long" >
	    delete from s_permission
	    where id = #{id}
  </delete>
  -->

    <select id="selectByAdminId" resultType="com.jun.biz.manager.model.Permission">
        select p.*
        from s_permission p
                 join s_role_permission rp on p.id = rp.permission_id
                 join s_admin_role ar on ar.role_id = rp.role_id
        where admin_id = #{adminId}
    </select>


</mapper>

