<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="cn.kiwipeach.demo.bean.CollegeStudent">
        <property name="id" value="8825"></property>
        <property name="name" value="大学生"></property>
        <property name="weight" value="250.63"></property>
        <property name="birthday">
            <bean class="java.util.Date"></bean>
        </property>
    </bean>

</beans>