<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jun.plugin.ow.mapper.NewsMapper">
    
    <resultMap type="News" id="NewsResult">
        <result property="newsId"    column="news_id"    />
        <result property="newsType"    column="news_type"    />
        <result property="newsTitle"    column="news_title"    />
        <result property="newsContent"    column="news_content"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="coverImgUrl"    column="cover_img_url"    />
        <result property="synopsis"    column="synopsis"    />
    </resultMap>
	
	<sql id="selectNewsVo">
        select news_id, news_type, news_title, news_content, status, create_by, create_time, update_by, update_time, remark ,cover_img_url,synopsis from ow_news
    </sql>
    <sql id="selectNewsVoNotContent">
        select news_id, news_type, news_title, status, create_by, create_time, update_by, update_time, remark ,cover_img_url,synopsis from ow_news
    </sql>
    <select id="selectNewsList" parameterType="News" resultMap="NewsResult">
        <include refid="selectNewsVoNotContent"/>
        <where>  
            <if test="newsId != null "> and news_id = #{newsId}</if>
             <if test="newsType != null  and newsType != '' "> and news_type = #{newsType}</if>
             <if test="newsTitle != null  and newsTitle != '' "> and news_title = #{newsTitle}</if>
             <if test="newsContent != null  and newsContent != '' "> and news_content = #{newsContent}</if>
             <if test="status != null  and status != '' "> and status = #{status}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
             <if test="coverImgUrl != null  and coverImgUrl != '' "> and cover_img_url = #{coverImgUrl}</if>
             <if test="synopsis != null  and synopsis != '' "> and synopsis = #{synopsis}</if>
         </where>
    </select>

    <select id="selectNewsListForOw" parameterType="News" resultMap="NewsResult">
        <include refid="selectNewsVoNotContent"/>
        <where>
            <if test="newsId != null "> and news_id = #{newsId}</if>
            <if test="newsType != null  and newsType != '' "> and news_type = #{newsType}</if>
            <if test="newsTitle != null  and newsTitle != '' "> and news_title = #{newsTitle}</if>
            <if test="newsContent != null  and newsContent != '' "> and news_content = #{newsContent}</if>
            <if test="status != null  and status != '' "> and status = #{status}</if>
            <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
            <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
            <if test="coverImgUrl != null  and coverImgUrl != '' "> and cover_img_url = #{coverImgUrl}</if>
            <if test="synopsis != null  and synopsis != '' "> and synopsis = #{synopsis}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectNewsById" parameterType="Integer" resultMap="NewsResult">
        <include refid="selectNewsVo"/>
        where news_id = #{newsId}
    </select>
        
    <insert id="insertNews" parameterType="News">
        insert into ow_news
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="newsId != null  ">news_id,</if>
			<if test="newsType != null  and newsType != ''  ">news_type,</if>
			<if test="newsTitle != null  and newsTitle != ''  ">news_title,</if>
			<if test="newsContent != null  and newsContent != ''  ">news_content,</if>
			<if test="status != null  and status != ''  ">status,</if>
            <if test="remark != null  and remark != ''  ">remark,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="coverImgUrl != null  and coverImgUrl != ''  ">cover_img_url,</if>
			<if test="synopsis != null  and synopsis != ''  ">synopsis,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="newsId != null  ">#{newsId},</if>
			<if test="newsType != null  and newsType != ''  ">#{newsType},</if>
			<if test="newsTitle != null  and newsTitle != ''  ">#{newsTitle},</if>
			<if test="newsContent != null  and newsContent != ''  ">#{newsContent},</if>
			<if test="status != null  and status != ''  ">#{status},</if>
            <if test="remark != null  and remark != ''  ">#{remark},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="coverImgUrl != null  and coverImgUrl != ''  ">#{coverImgUrl},</if>
			<if test="synopsis != null  and synopsis != ''  ">#{synopsis},</if>
            sysdate()
         </trim>
    </insert>
	 
    <update id="updateNews" parameterType="News">
        update ow_news
        <trim prefix="SET" suffixOverrides=",">
            <if test="newsType != null  and newsType != ''  ">news_type = #{newsType},</if>
            <if test="newsTitle != null  and newsTitle != ''  ">news_title = #{newsTitle},</if>
            <if test="newsContent != null  and newsContent != ''  ">news_content = #{newsContent},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="coverImgUrl != null  and coverImgUrl != ''  ">cover_img_url = #{coverImgUrl},</if>
            <if test="synopsis != null  and synopsis != ''  ">synopsis = #{synopsis},</if>
            update_time = sysdate()
        </trim>
        where news_id = #{newsId}
    </update>

	<delete id="deleteNewsById" parameterType="Integer">
        delete from ow_news where news_id = #{newsId}
    </delete>
	
    <delete id="deleteNewsByIds" parameterType="String">
        delete from ow_news where news_id in 
        <foreach item="newsId" collection="array" open="(" separator="," close=")">
            #{newsId}
        </foreach>
    </delete>
    
</mapper>