import com.jqp.admin.common.BaseData;
import lombok.Data;

/***
 * @date ${date}
 * @remark ${tableComment}
 */
@Data
public class ${tableName} extends BaseData {
#foreach( $column in $columns)
    //${column.columnComment}
    private ${column.type} ${column.columnName};
#end
}