<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
       
    <!-- 记录监控信息 -->
    <!-- <dubbo:monitor protocol="registry"/> -->
    <!-- 提供者应用信息 -->
    <dubbo:application name="itstyle_elasticsearch_provider"/>

    <!-- 注册中心服务地址 -->
    <dubbo:registry  protocol="zookeeper" address="${dubbo.registry.address}" file="dubbo.registry.file"/>

    <!-- 用dubbo协议-->
    <dubbo:protocol name="dubbo" port="-1" dispather="all"  />
    <!-- 同步获取 -->
    <dubbo:provider timeout="10000"  threads="10" threadpool="fixed"   loadbalance="roundrobin"/>
    
    <dubbo:service  ref="logService" interface="com.itstyle.es.log.service.LogService" />
</beans>