<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jun.plugin.ow.mapper.AboutMapper">
    
    <resultMap type="About" id="AboutResult">
        <result property="id"    column="id"    />
        <result property="content"    column="content"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
	
	<sql id="selectAboutVo">
        select id, content, create_by, create_time, update_by, update_time from ow_about
    </sql>
	
    <select id="selectAboutList" parameterType="About" resultMap="AboutResult">
        <include refid="selectAboutVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="content != null  and content != '' "> and content = #{content}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
         </where>
    </select>
    
    <select id="selectAboutById" parameterType="Integer" resultMap="AboutResult">
        <include refid="selectAboutVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAbout" parameterType="About">
        insert into ow_about
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="content != null  and content != ''  ">content,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
            create_time

         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="content != null  and content != ''  ">#{content},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
            sysdate()
         </trim>
    </insert>
	 
    <update id="updateAbout" parameterType="About">
        update ow_about
        <trim prefix="SET" suffixOverrides=",">
            <if test="content != null  and content != ''  ">content = #{content},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteAboutById" parameterType="Integer">
        delete from ow_about where id = #{id}
    </delete>
	
    <delete id="deleteAboutByIds" parameterType="String">
        delete from ow_about where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>