<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jun.plugin.business.mapper.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.jun.plugin.business.domain.Goods">
    <!--@mbg.generated-->
    <!--@Table bus_goods-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goodsname" jdbcType="VARCHAR" property="goodsname" />
    <result column="produceplace" jdbcType="VARCHAR" property="produceplace" />
    <result column="size" jdbcType="VARCHAR" property="size" />
    <result column="goodspackage" jdbcType="VARCHAR" property="goodspackage" />
    <result column="productcode" jdbcType="VARCHAR" property="productcode" />
    <result column="promitcode" jdbcType="VARCHAR" property="promitcode" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="dangernum" jdbcType="INTEGER" property="dangernum" />
    <result column="goodsimg" jdbcType="VARCHAR" property="goodsimg" />
    <result column="available" jdbcType="INTEGER" property="available" />
    <result column="providerid" jdbcType="INTEGER" property="providerid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, goodsname, produceplace, `size`, goodspackage, productcode, promitcode, description, 
    price, `number`, dangernum, goodsimg, available, providerid
  </sql>
</mapper>