<?xml version="1.0" encoding="UTF-8" ?>   
    <!DOCTYPE mapper   
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="com.jun.biz.manager.dao.AdSpaceDao">

	<resultMap id="BaseResultMap" type="com.jun.biz.manager.model.AdSpace">
		<id column="id" property="id"/>
		<result property="name" column="name"/>
		<result property="no" column="no"/>
		<result property="template" column="template_name"/>
		<result property="number" column="number"/>
		<result property="type" column="type"/>
		<result property="width" column="width"/>
		<result property="height" column="height"/>
	</resultMap>

	<sql id="BaseColumnList">
id,name,no,template_name,number,type,width,height
		</sql>


	<!--<insert id="insert" useGeneratedKeys="true" keyProperty="id">
	        insert into
	        	a_ad_space 
	        <trim prefix="(" suffix=")" suffixOverrides="," >
	     				<if test="name != null">
				       	 name ,
				      </if>
	     				<if test="no != null">
				       	 no ,
				      </if>
	     				<if test="template != null">
				       	 template_name ,
				      </if>
	     				<if test="number != null">
				       	 number ,
				      </if>
	     				<if test="type != null">
				       	 type ,
				      </if>
	     				<if test="width != null">
				       	 width ,
				      </if>
	     				<if test="height != null">
				       	 height ,
				      </if>
	        </trim>
    		<trim prefix="values (" suffix=")" suffixOverrides="," >
		     				<if test="name != null">
					       	 #{name} ,
					      </if>
		     				<if test="no != null">
					       	 #{no} ,
					      </if>
		     				<if test="template != null">
					       	 #{template} ,
					      </if>
		     				<if test="number != null">
					       	 #{number} ,
					      </if>
		     				<if test="type != null">
					       	 #{type} ,
					      </if>
		     				<if test="width != null">
					       	 #{width} ,
					      </if>
		     				<if test="height != null">
					       	 #{height} ,
					      </if>
	       </trim>
	</insert>
	
	
	

     <select id="selectById" resultMap="BaseResultMap" parameterType="long">
			select
				 <include refid="BaseColumnList" />
		    from
		    	a_ad_space 
		     where 
				a_ad_space.id = #{id}
	</select>
    
    
    <update id="update"   >
   		 update a_ad_space
    <set>
    		<if test="name != null">
		        name = #{name},
		      </if><if test="no != null">
		        no = #{no},
		      </if><if test="template != null">
		        template_name = #{template},
		      </if><if test="number != null">
		        number = #{number},
		      </if><if test="type != null">
		        type = #{type},
		      </if><if test="width != null">
		        width = #{width},
		      </if><if test="height != null">
		        height = #{height},
		      </if>
    </set>
    where id = #{id}
   </update>
    
    
    <sql id="listWhere">
				       <if test="id != null">
							and a_ad_space.id = #{id}
						</if>
	       		 	 <if test="name != null and name != '' ">
							and a_ad_space.name = #{name}
						</if>
	       		 	 <if test="no != null and no != '' ">
							and a_ad_space.no = #{no}
						</if>
	       		 	 <if test="template != null and template != '' ">
							and a_ad_space.template_name = #{template}
						</if>
				       <if test="number != null">
							and a_ad_space.number = #{number}
						</if>
				       <if test="type != null">
							and a_ad_space.type = #{type}
						</if>
				       <if test="width != null">
							and a_ad_space.width = #{width}
						</if>
				       <if test="height != null">
							and a_ad_space.height = #{height}
						</if>
   </sql>
    
    <select id="count" resultType="long">
   		select 
   			count(*)
   		from
   			a_ad_space
   		<where>
   			<include refid="listWhere"/>
   		</where>
   </select>
	

    <select id="selectList" resultMap="BaseResultMap" >
   		select 
   			 <include refid="BaseColumnList"/>
   		from
   			a_ad_space
   		<where>
   			<include refid="listWhere"/>
   		</where>
   		<if test="orderBy != null ">
   			order by ${orderBy}
   			<if test="sort != null ">
   				${ sort}
   			</if>
   		</if>
   		<if test="beginIndex != null and resultSize != null">
			limit #{beginIndex} , #{resultSize}
		</if>
   </select>
    
   
	<delete id="deleteById" parameterType="long" >
	    delete from a_ad_space
	    where id = #{id}
  </delete>
  -->
   
   
    <select id="selectByNo" resultMap="BaseResultMap" parameterType="String">
	   select 
   			 <include refid="BaseColumnList"/>
		from
		a_ad_space
		where no = #{no}
	</select>
   
   
   
   
   
   
	
</mapper>

