<?xml version="1.0" encoding="UTF-8" ?>   
    <!DOCTYPE mapper   
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="com.jun.biz.manager.dao.CategoryDao">

	<resultMap id="BaseResultMap" type="com.jun.biz.manager.model.Category">
		<id column="id" property="id"/>
		<result property="pid" column="pid"/>
		<result property="name" column="name"/>
		<result property="description" column="description"/>
		<result property="weight" column="weight"/>
		<result property="status" column="status"/>
		<result property="createTime" column="create_time"/>
		<result property="createAdmin" column="create_admin"/>
	</resultMap>

<sql id="BaseColumnList">
	id,pid,name,description,weight,status,create_time,create_admin
		</sql>


	<!--<insert id="insert" useGeneratedKeys="true" keyProperty="id">
	        insert into
	        	p_category 
	        <trim prefix="(" suffix=")" suffixOverrides="," >
	     				<if test="pid != null">
				       	 pid ,
				      </if>
	     				<if test="name != null">
				       	 name ,
				      </if>
	     				<if test="description != null">
				       	 description ,
				      </if>
	     				<if test="weight != null">
				       	 weight ,
				      </if>
	     				<if test="status != null">
				       	 status ,
				      </if>
	     				<if test="createTime != null">
				       	 create_time ,
				      </if>
	     				<if test="createAdmin != null">
				       	 create_admin ,
				      </if>
	        </trim>
    		<trim prefix="values (" suffix=")" suffixOverrides="," >
		     				<if test="pid != null">
					       	 #{pid} ,
					      </if>
		     				<if test="name != null">
					       	 #{name} ,
					      </if>
		     				<if test="description != null">
					       	 #{description} ,
					      </if>
		     				<if test="weight != null">
					       	 #{weight} ,
					      </if>
		     				<if test="status != null">
					       	 #{status} ,
					      </if>
		     				<if test="createTime != null">
					       	 #{createTime} ,
					      </if>
		     				<if test="createAdmin != null">
					       	 #{createAdmin} ,
					      </if>
	       </trim>
	</insert>
	
	
	

     <select id="selectById" resultMap="BaseResultMap" parameterType="long">
			select
				 <include refid="BaseColumnList" />
		    from
		    	p_category 
		     where 
				p_category.id = #{id}
	</select>
    
    
    <update id="update"   >
   		 update p_category
    <set>
    		<if test="pid != null">
		        pid = #{pid},
		      </if><if test="name != null">
		        name = #{name},
		      </if><if test="description != null">
		        description = #{description},
		      </if><if test="weight != null">
		        weight = #{weight},
		      </if><if test="status != null">
		        status = #{status},
		      </if><if test="createTime != null">
		        create_time = #{createTime},
		      </if><if test="createAdmin != null">
		        create_admin = #{createAdmin},
		      </if>
    </set>
    where id = #{id}
   </update>
    
    
    <sql id="listWhere">
				       <if test="id != null">
							and p_category.id = #{id}
						</if>
				       <if test="pid != null">
							and p_category.pid = #{pid}
						</if>
	       		 	 <if test="name != null and name != '' ">
							and p_category.name = #{name}
						</if>
	       		 	 <if test="description != null and description != '' ">
							and p_category.description = #{description}
						</if>
				       <if test="weight != null">
							and p_category.weight = #{weight}
						</if>
				       <if test="status != null">
							and p_category.status = #{status}
						</if>
	       <if test="minCreateTime != null">
    			<![CDATA[
					and p_category.create_time >= #{minCreateTime}
	    		]]>
		   </if>
	       <if test="maxCreateTime != null">
	    		<![CDATA[
					and p_category.create_time <= #{maxCreateTime}
		    	]]>
		   </if>
	       		 	 <if test="createAdmin != null and createAdmin != '' ">
							and p_category.create_admin = #{createAdmin}
						</if>
   </sql>
    
    <select id="count" resultType="long">
   		select 
   			count(*)
   		from
   			p_category
   		<where>
   			<include refid="listWhere"/>
   		</where>
   </select>
	

    <select id="selectList" resultMap="BaseResultMap" >
   		select 
   			 <include refid="BaseColumnList"/>
   		from
   			p_category
   		<where>
   			<include refid="listWhere"/>
   		</where>
   		<if test="orderBy != null ">
   			order by ${orderBy}
   			<if test="sort != null ">
   				${ sort}
   			</if>
   		</if>
   		<if test="beginIndex != null and resultSize != null">
			limit #{beginIndex} , #{resultSize}
		</if>
   </select>
    
   
	<delete id="deleteById" parameterType="long" >
	    delete from p_category
	    where id = #{id}
  </delete>
  -->


</mapper>

