<?xml version="1.0" encoding="UTF-8" ?>   
    <!DOCTYPE mapper   
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="com.jun.biz.manager.dao.FavoriteDao">

	<resultMap id="BaseResultMap" type="com.jun.biz.manager.model.Favorite">
        	    <id column="id"  property="id" />
	       		<result property="name" column="name"/>
	       		<result property="picUrl" column="pic_url"/>
	       		<result property="price" column="price"/>
	       		<result property="type" column="type"/>
	       		<result property="objectid" column="objectid"/>
	       		<result property="createTime" column="create_time"/>
	       		<result property="userId" column="user_id"/>
	</resultMap>

<sql id="BaseColumnList">
id,name,pic_url,price,type,objectid,create_time,user_id
		</sql>


	<!--<insert id="insert" useGeneratedKeys="true" keyProperty="id">
	        insert into
	        	u_favorite 
	        <trim prefix="(" suffix=")" suffixOverrides="," >
	     				<if test="name != null">
				       	 name ,
				      </if>
	     				<if test="picUrl != null">
				       	 pic_url ,
				      </if>
	     				<if test="price != null">
				       	 price ,
				      </if>
	     				<if test="type != null">
				       	 type ,
				      </if>
	     				<if test="objectid != null">
				       	 objectid ,
				      </if>
	     				<if test="createTime != null">
				       	 create_time ,
				      </if>
	     				<if test="userId != null">
				       	 user_id ,
				      </if>
	        </trim>
    		<trim prefix="values (" suffix=")" suffixOverrides="," >
		     				<if test="name != null">
					       	 #{name} ,
					      </if>
		     				<if test="picUrl != null">
					       	 #{picUrl} ,
					      </if>
		     				<if test="price != null">
					       	 #{price} ,
					      </if>
		     				<if test="type != null">
					       	 #{type} ,
					      </if>
		     				<if test="objectid != null">
					       	 #{objectid} ,
					      </if>
		     				<if test="createTime != null">
					       	 #{createTime} ,
					      </if>
		     				<if test="userId != null">
					       	 #{userId} ,
					      </if>
	       </trim>
	</insert>
	
	
	

     <select id="selectById" resultMap="BaseResultMap" parameterType="long">
			select
				 <include refid="BaseColumnList" />
		    from
		    	u_favorite 
		     where 
				u_favorite.id = #{id}
	</select>
    
    
    <update id="update"   >
   		 update u_favorite
    <set>
    		<if test="name != null">
		        name = #{name},
		      </if><if test="picUrl != null">
		        pic_url = #{picUrl},
		      </if><if test="price != null">
		        price = #{price},
		      </if><if test="type != null">
		        type = #{type},
		      </if><if test="objectid != null">
		        objectid = #{objectid},
		      </if><if test="createTime != null">
		        create_time = #{createTime},
		      </if><if test="userId != null">
		        user_id = #{userId},
		      </if>
    </set>
    where id = #{id}
   </update>
    
    
    <sql id="listWhere">
				       <if test="id != null">
							and u_favorite.id = #{id}
						</if>
	       		 	 <if test="name != null and name != '' ">
							and u_favorite.name = #{name}
						</if>
	       		 	 <if test="picUrl != null and picUrl != '' ">
							and u_favorite.pic_url = #{picUrl}
						</if>
				       <if test="price != null">
							and u_favorite.price = #{price}
						</if>
				       <if test="type != null">
							and u_favorite.type = #{type}
						</if>
				       <if test="objectid != null">
							and u_favorite.objectid = #{objectid}
						</if>
	       <if test="minCreateTime != null">
    			<![CDATA[
					and u_favorite.create_time >= #{minCreateTime}
	    		]]>
		   </if>
	       <if test="maxCreateTime != null">
	    		<![CDATA[
					and u_favorite.create_time <= #{maxCreateTime}
		    	]]>
		   </if>
				       <if test="userId != null">
							and u_favorite.user_id = #{userId}
						</if>
   </sql>
    
    <select id="count" resultType="long">
   		select 
   			count(*)
   		from
   			u_favorite
   		<where>
   			<include refid="listWhere"/>
   		</where>
   </select>
	

    <select id="selectList" resultMap="BaseResultMap" >
   		select 
   			 <include refid="BaseColumnList"/>
   		from
   			u_favorite
   		<where>
   			<include refid="listWhere"/>
   		</where>
   		<if test="orderBy != null ">
   			order by ${orderBy}
   			<if test="sort != null ">
   				${ sort}
   			</if>
   		</if>
   		<if test="beginIndex != null and resultSize != null">
			limit #{beginIndex} , #{resultSize}
		</if>
   </select>
    
   
	<delete id="deleteById" parameterType="long" >
	    delete from u_favorite
	    where id = #{id}
  </delete>
  -->
   
   
   
   
   
   
   
   
	
</mapper>

