<?xml version="1.0" encoding="UTF-8" ?>   
    <!DOCTYPE mapper   
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="com.jun.biz.manager.dao.OrderItemDao">

	<resultMap id="BaseResultMap" type="com.jun.biz.manager.model.OrderItem">
        	    <id column="id"  property="id" />
	       		<result property="orderId" column="order_id"/>
	       		<result property="amount" column="amount"/>
	       		<result property="price" column="price"/>
	       		<result property="quantity" column="quantity"/>
	       		<result property="message" column="message"/>
	       		<result property="snapshotId" column="snapshot_id"/>
	       		<result property="name" column="name"/>
	       		<result property="picUrl" column="pic_url"/>
	       		<result property="productId" column="product_id"/>
	</resultMap>

<sql id="BaseColumnList">
id,order_id,amount,price,quantity,message,snapshot_id,name,pic_url,product_id
		</sql>


	<!--<insert id="insert" useGeneratedKeys="true" keyProperty="id">
	        insert into
	        	o_order_item 
	        <trim prefix="(" suffix=")" suffixOverrides="," >
	     				<if test="orderId != null">
				       	 order_id ,
				      </if>
	     				<if test="amount != null">
				       	 amount ,
				      </if>
	     				<if test="price != null">
				       	 price ,
				      </if>
	     				<if test="quantity != null">
				       	 quantity ,
				      </if>
	     				<if test="message != null">
				       	 message ,
				      </if>
	     				<if test="snapshotId != null">
				       	 snapshot_id ,
				      </if>
	     				<if test="name != null">
				       	 name ,
				      </if>
	     				<if test="picUrl != null">
				       	 pic_url ,
				      </if>
	     				<if test="productId != null">
				       	 product_id ,
				      </if>
	        </trim>
    		<trim prefix="values (" suffix=")" suffixOverrides="," >
		     				<if test="orderId != null">
					       	 #{orderId} ,
					      </if>
		     				<if test="amount != null">
					       	 #{amount} ,
					      </if>
		     				<if test="price != null">
					       	 #{price} ,
					      </if>
		     				<if test="quantity != null">
					       	 #{quantity} ,
					      </if>
		     				<if test="message != null">
					       	 #{message} ,
					      </if>
		     				<if test="snapshotId != null">
					       	 #{snapshotId} ,
					      </if>
		     				<if test="name != null">
					       	 #{name} ,
					      </if>
		     				<if test="picUrl != null">
					       	 #{picUrl} ,
					      </if>
		     				<if test="productId != null">
					       	 #{productId} ,
					      </if>
	       </trim>
	</insert>
	
	
	

     <select id="selectById" resultMap="BaseResultMap" parameterType="long">
			select
				 <include refid="BaseColumnList" />
		    from
		    	o_order_item 
		     where 
				o_order_item.id = #{id}
	</select>
    
    
    <update id="update"   >
   		 update o_order_item
    <set>
    		<if test="orderId != null">
		        order_id = #{orderId},
		      </if><if test="amount != null">
		        amount = #{amount},
		      </if><if test="price != null">
		        price = #{price},
		      </if><if test="quantity != null">
		        quantity = #{quantity},
		      </if><if test="message != null">
		        message = #{message},
		      </if><if test="snapshotId != null">
		        snapshot_id = #{snapshotId},
		      </if><if test="name != null">
		        name = #{name},
		      </if><if test="picUrl != null">
		        pic_url = #{picUrl},
		      </if><if test="productId != null">
		        product_id = #{productId},
		      </if>
    </set>
    where id = #{id}
   </update>
    
    
    <sql id="listWhere">
				       <if test="id != null">
							and o_order_item.id = #{id}
						</if>
				       <if test="orderId != null">
							and o_order_item.order_id = #{orderId}
						</if>
				       <if test="amount != null">
							and o_order_item.amount = #{amount}
						</if>
				       <if test="price != null">
							and o_order_item.price = #{price}
						</if>
				       <if test="quantity != null">
							and o_order_item.quantity = #{quantity}
						</if>
	       		 	 <if test="message != null and message != '' ">
							and o_order_item.message = #{message}
						</if>
				       <if test="snapshotId != null">
							and o_order_item.snapshot_id = #{snapshotId}
						</if>
	       		 	 <if test="name != null and name != '' ">
							and o_order_item.name = #{name}
						</if>
	       		 	 <if test="picUrl != null and picUrl != '' ">
							and o_order_item.pic_url = #{picUrl}
						</if>
				       <if test="productId != null">
							and o_order_item.product_id = #{productId}
						</if>
   </sql>
    
    <select id="count" resultType="long">
   		select 
   			count(*)
   		from
   			o_order_item
   		<where>
   			<include refid="listWhere"/>
   		</where>
   </select>
	

    <select id="selectList" resultMap="BaseResultMap" >
   		select 
   			 <include refid="BaseColumnList"/>
   		from
   			o_order_item
   		<where>
   			<include refid="listWhere"/>
   		</where>
   		<if test="orderBy != null ">
   			order by ${orderBy}
   			<if test="sort != null ">
   				${ sort}
   			</if>
   		</if>
   		<if test="beginIndex != null and resultSize != null">
			limit #{beginIndex} , #{resultSize}
		</if>
   </select>
    
   
	<delete id="deleteById" parameterType="long" >
	    delete from o_order_item
	    where id = #{id}
  </delete>
  -->
   
   
   
   
   
   
   
   
   
   
	
</mapper>

