<?xml version="1.0" encoding="UTF-8" ?>   
    <!DOCTYPE mapper   
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="com.jun.biz.manager.dao.ProductDao">

	<resultMap id="BaseResultMap" type="com.jun.biz.manager.model.Product">
		<id column="id" property="id"/>
		<result property="name" column="name"/>
		<result property="picFilenames" column="pic_filenames"/>
		<result property="price" column="price"/>
		<result property="originalPrice" column="original_price"/>
		<result property="costPrice" column="cost_price"/>
		<result property="detail" column="detail"/>
		<result property="createTime" column="create_time"/>
		<result property="createAdmin" column="create_admin"/>
		<result property="status" column="status"/>
		<result property="categoryid" column="categoryid"/>
		<result property="stock" column="stock"/>
		<result property="salesNum" column="sales_num"/>
		<result property="virtualSalesNum" column="virtual_sales_num"/>
		<result property="evaluationNum" column="evaluation_num"/>
		<result property="evaluationScore" column="evaluation_score"/>
		<result property="properties" column="properties"/>
		<result property="note" column="note"/>
	</resultMap>

<sql id="BaseColumnList">
	id,name,pic_filenames,price,original_price,cost_price,detail,create_time,create_admin,status,categoryid,stock,sales_num,virtual_sales_num,evaluation_num,evaluation_score,properties,note
		</sql>


	<!--<insert id="insert" useGeneratedKeys="true" keyProperty="id">
	        insert into
	        	p_product 
	        <trim prefix="(" suffix=")" suffixOverrides="," >
	     				<if test="name != null">
				       	 name ,
				      </if>
	     				<if test="picFilenames != null">
				       	 pic_filenames ,
				      </if>
	     				<if test="price != null">
				       	 price ,
				      </if>
	     				<if test="originalPrice != null">
				       	 original_price ,
				      </if>
	     				<if test="costPrice != null">
				       	 cost_price ,
				      </if>
	     				<if test="detail != null">
				       	 detail ,
				      </if>
	     				<if test="createTime != null">
				       	 create_time ,
				      </if>
	     				<if test="createAdmin != null">
				       	 create_admin ,
				      </if>
	     				<if test="status != null">
				       	 status ,
				      </if>
	     				<if test="categoryid != null">
				       	 categoryid ,
				      </if>
	     				<if test="stock != null">
				       	 stock ,
				      </if>
	     				<if test="salesNum != null">
				       	 sales_num ,
				      </if>
	     				<if test="virtualSalesNum != null">
				       	 virtual_sales_num ,
				      </if>
	     				<if test="evaluationNum != null">
				       	 evaluation_num ,
				      </if>
	     				<if test="evaluationScore != null">
				       	 evaluation_score ,
				      </if>
	     				<if test="properties != null">
				       	 properties ,
				      </if>
	     				<if test="note != null">
				       	 note ,
				      </if>
	        </trim>
    		<trim prefix="values (" suffix=")" suffixOverrides="," >
		     				<if test="name != null">
					       	 #{name} ,
					      </if>
		     				<if test="picFilenames != null">
					       	 #{picFilenames} ,
					      </if>
		     				<if test="price != null">
					       	 #{price} ,
					      </if>
		     				<if test="originalPrice != null">
					       	 #{originalPrice} ,
					      </if>
		     				<if test="costPrice != null">
					       	 #{costPrice} ,
					      </if>
		     				<if test="detail != null">
					       	 #{detail} ,
					      </if>
		     				<if test="createTime != null">
					       	 #{createTime} ,
					      </if>
		     				<if test="createAdmin != null">
					       	 #{createAdmin} ,
					      </if>
		     				<if test="status != null">
					       	 #{status} ,
					      </if>
		     				<if test="categoryid != null">
					       	 #{categoryid} ,
					      </if>
		     				<if test="stock != null">
					       	 #{stock} ,
					      </if>
		     				<if test="salesNum != null">
					       	 #{salesNum} ,
					      </if>
		     				<if test="virtualSalesNum != null">
					       	 #{virtualSalesNum} ,
					      </if>
		     				<if test="evaluationNum != null">
					       	 #{evaluationNum} ,
					      </if>
		     				<if test="evaluationScore != null">
					       	 #{evaluationScore} ,
					      </if>
		     				<if test="properties != null">
					       	 #{properties} ,
					      </if>
		     				<if test="note != null">
					       	 #{note} ,
					      </if>
	       </trim>
	</insert>
	
	
	

     <select id="selectById" resultMap="BaseResultMap" parameterType="long">
			select
				 <include refid="BaseColumnList" />
		    from
		    	p_product 
		     where 
				p_product.id = #{id}
	</select>
    
    
    <update id="update"   >
   		 update p_product
    <set>
    		<if test="name != null">
		        name = #{name},
		      </if><if test="picFilenames != null">
		        pic_filenames = #{picFilenames},
		      </if><if test="price != null">
		        price = #{price},
		      </if><if test="originalPrice != null">
		        original_price = #{originalPrice},
		      </if><if test="costPrice != null">
		        cost_price = #{costPrice},
		      </if><if test="detail != null">
		        detail = #{detail},
		      </if><if test="createTime != null">
		        create_time = #{createTime},
		      </if><if test="createAdmin != null">
		        create_admin = #{createAdmin},
		      </if><if test="status != null">
		        status = #{status},
		      </if><if test="categoryid != null">
		        categoryid = #{categoryid},
		      </if><if test="stock != null">
		        stock = #{stock},
		      </if><if test="salesNum != null">
		        sales_num = #{salesNum},
		      </if><if test="virtualSalesNum != null">
		        virtual_sales_num = #{virtualSalesNum},
		      </if><if test="evaluationNum != null">
		        evaluation_num = #{evaluationNum},
		      </if><if test="evaluationScore != null">
		        evaluation_score = #{evaluationScore},
		      </if><if test="properties != null">
		        properties = #{properties},
		      </if><if test="note != null">
		        note = #{note},
		      </if>
    </set>
    where id = #{id}
   </update>
    
    
    <sql id="listWhere">
				       <if test="id != null">
							and p_product.id = #{id}
						</if>
	       		 	 <if test="name != null and name != '' ">
							and p_product.name = #{name}
						</if>
	       		 	 <if test="picFilenames != null and picFilenames != '' ">
							and p_product.pic_filenames = #{picFilenames}
						</if>
				       <if test="price != null">
							and p_product.price = #{price}
						</if>
				       <if test="originalPrice != null">
							and p_product.original_price = #{originalPrice}
						</if>
				       <if test="costPrice != null">
							and p_product.cost_price = #{costPrice}
						</if>
	       		 	 <if test="detail != null and detail != '' ">
							and p_product.detail = #{detail}
						</if>
	       <if test="minCreateTime != null">
    			<![CDATA[
					and p_product.create_time >= #{minCreateTime}
	    		]]>
		   </if>
	       <if test="maxCreateTime != null">
	    		<![CDATA[
					and p_product.create_time <= #{maxCreateTime}
		    	]]>
		   </if>
	       		 	 <if test="createAdmin != null and createAdmin != '' ">
							and p_product.create_admin = #{createAdmin}
						</if>
				       <if test="status != null">
							and p_product.status = #{status}
						</if>
				       <if test="categoryid != null">
							and p_product.categoryid = #{categoryid}
						</if>
				       <if test="stock != null">
							and p_product.stock = #{stock}
						</if>
				       <if test="salesNum != null">
							and p_product.sales_num = #{salesNum}
						</if>
				       <if test="virtualSalesNum != null">
							and p_product.virtual_sales_num = #{virtualSalesNum}
						</if>
				       <if test="evaluationNum != null">
							and p_product.evaluation_num = #{evaluationNum}
						</if>
				       <if test="evaluationScore != null">
							and p_product.evaluation_score = #{evaluationScore}
						</if>
	       		 	 <if test="properties != null and properties != '' ">
							and p_product.properties = #{properties}
						</if>
	       		 	 <if test="note != null and note != '' ">
							and p_product.note = #{note}
						</if>
   </sql>
    
    <select id="count" resultType="long">
   		select 
   			count(*)
   		from
   			p_product
   		<where>
   			<include refid="listWhere"/>
   		</where>
   </select>
	

    <select id="selectList" resultMap="BaseResultMap" >
   		select 
   			 <include refid="BaseColumnList"/>
   		from
   			p_product
   		<where>
   			<include refid="listWhere"/>
   		</where>
   		<if test="orderBy != null ">
   			order by ${orderBy}
   			<if test="sort != null ">
   				${ sort}
   			</if>
   		</if>
   		<if test="beginIndex != null and resultSize != null">
			limit #{beginIndex} , #{resultSize}
		</if>
   </select>
    
   
	<delete id="deleteById" parameterType="long" >
	    delete from p_product
	    where id = #{id}
  </delete>
  -->
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
	
</mapper>

