<?xml version="1.0" encoding="UTF-8" ?>   
    <!DOCTYPE mapper   
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="com.jun.biz.manager.dao.RefundApplyDao">

	<resultMap id="BaseResultMap" type="com.jun.biz.manager.model.RefundApply">
        	    <id column="id"  property="id" />
	       		<result property="orderId" column="order_id"/>
	       		<result property="amount" column="amount"/>
	       		<result property="reason" column="reason"/>
	       		<result property="status" column="status"/>
	       		<result property="createTime" column="create_time"/>
	       		<result property="reply" column="reply"/>
	       		<result property="replyTime" column="reply_time"/>
	       		<result property="replayAdminId" column="replay_admin_id"/>
	       		<result property="pics" column="pics"/>
	</resultMap>

<sql id="BaseColumnList">
id,order_id,amount,reason,status,create_time,reply,reply_time,replay_admin_id,pics
		</sql>


	<!--<insert id="insert" useGeneratedKeys="true" keyProperty="id">
	        insert into
	        	o_refund_apply 
	        <trim prefix="(" suffix=")" suffixOverrides="," >
	     				<if test="orderId != null">
				       	 order_id ,
				      </if>
	     				<if test="amount != null">
				       	 amount ,
				      </if>
	     				<if test="reason != null">
				       	 reason ,
				      </if>
	     				<if test="status != null">
				       	 status ,
				      </if>
	     				<if test="createTime != null">
				       	 create_time ,
				      </if>
	     				<if test="reply != null">
				       	 reply ,
				      </if>
	     				<if test="replyTime != null">
				       	 reply_time ,
				      </if>
	     				<if test="replayAdminId != null">
				       	 replay_admin_id ,
				      </if>
	     				<if test="pics != null">
				       	 pics ,
				      </if>
	        </trim>
    		<trim prefix="values (" suffix=")" suffixOverrides="," >
		     				<if test="orderId != null">
					       	 #{orderId} ,
					      </if>
		     				<if test="amount != null">
					       	 #{amount} ,
					      </if>
		     				<if test="reason != null">
					       	 #{reason} ,
					      </if>
		     				<if test="status != null">
					       	 #{status} ,
					      </if>
		     				<if test="createTime != null">
					       	 #{createTime} ,
					      </if>
		     				<if test="reply != null">
					       	 #{reply} ,
					      </if>
		     				<if test="replyTime != null">
					       	 #{replyTime} ,
					      </if>
		     				<if test="replayAdminId != null">
					       	 #{replayAdminId} ,
					      </if>
		     				<if test="pics != null">
					       	 #{pics} ,
					      </if>
	       </trim>
	</insert>
	
	
	

     <select id="selectById" resultMap="BaseResultMap" parameterType="long">
			select
				 <include refid="BaseColumnList" />
		    from
		    	o_refund_apply 
		     where 
				o_refund_apply.id = #{id}
	</select>
    
    
    <update id="update"   >
   		 update o_refund_apply
    <set>
    		<if test="orderId != null">
		        order_id = #{orderId},
		      </if><if test="amount != null">
		        amount = #{amount},
		      </if><if test="reason != null">
		        reason = #{reason},
		      </if><if test="status != null">
		        status = #{status},
		      </if><if test="createTime != null">
		        create_time = #{createTime},
		      </if><if test="reply != null">
		        reply = #{reply},
		      </if><if test="replyTime != null">
		        reply_time = #{replyTime},
		      </if><if test="replayAdminId != null">
		        replay_admin_id = #{replayAdminId},
		      </if><if test="pics != null">
		        pics = #{pics},
		      </if>
    </set>
    where id = #{id}
   </update>
    
    
    <sql id="listWhere">
				       <if test="id != null">
							and o_refund_apply.id = #{id}
						</if>
				       <if test="orderId != null">
							and o_refund_apply.order_id = #{orderId}
						</if>
				       <if test="amount != null">
							and o_refund_apply.amount = #{amount}
						</if>
	       		 	 <if test="reason != null and reason != '' ">
							and o_refund_apply.reason = #{reason}
						</if>
				       <if test="status != null">
							and o_refund_apply.status = #{status}
						</if>
	       <if test="minCreateTime != null">
    			<![CDATA[
					and o_refund_apply.create_time >= #{minCreateTime}
	    		]]>
		   </if>
	       <if test="maxCreateTime != null">
	    		<![CDATA[
					and o_refund_apply.create_time <= #{maxCreateTime}
		    	]]>
		   </if>
	       		 	 <if test="reply != null and reply != '' ">
							and o_refund_apply.reply = #{reply}
						</if>
	       <if test="minReplyTime != null">
    			<![CDATA[
					and o_refund_apply.reply_time >= #{minReplyTime}
	    		]]>
		   </if>
	       <if test="maxReplyTime != null">
	    		<![CDATA[
					and o_refund_apply.reply_time <= #{maxReplyTime}
		    	]]>
		   </if>
				       <if test="replayAdminId != null">
							and o_refund_apply.replay_admin_id = #{replayAdminId}
						</if>
	       		 	 <if test="pics != null and pics != '' ">
							and o_refund_apply.pics = #{pics}
						</if>
   </sql>
    
    <select id="count" resultType="long">
   		select 
   			count(*)
   		from
   			o_refund_apply
   		<where>
   			<include refid="listWhere"/>
   		</where>
   </select>
	

    <select id="selectList" resultMap="BaseResultMap" >
   		select 
   			 <include refid="BaseColumnList"/>
   		from
   			o_refund_apply
   		<where>
   			<include refid="listWhere"/>
   		</where>
   		<if test="orderBy != null ">
   			order by ${orderBy}
   			<if test="sort != null ">
   				${ sort}
   			</if>
   		</if>
   		<if test="beginIndex != null and resultSize != null">
			limit #{beginIndex} , #{resultSize}
		</if>
   </select>
    
   
	<delete id="deleteById" parameterType="long" >
	    delete from o_refund_apply
	    where id = #{id}
  </delete>
  -->
   
   
   
   
   
   
   
   
   
   
	
</mapper>

