<?xml version="1.0" encoding="UTF-8" ?>   
    <!DOCTYPE mapper   
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="com.jun.biz.manager.dao.RolePermissionDao">

	<resultMap id="BaseResultMap" type="com.jun.biz.manager.model.RolePermission">
        	    <id column="id"  property="id" />
	       		<result property="roleId" column="role_id"/>
	       		<result property="permissionId" column="permission_id"/>
	</resultMap>

<sql id="BaseColumnList">
id,role_id,permission_id
		</sql>

<delete id="deleteByRole" >
	delete
	from s_role_permission
	where role_id = #{roleId}
</delete>
	<!--<insert id="insert" useGeneratedKeys="true" keyProperty="id">
	        insert into
	        	s_role_permission 
	        <trim prefix="(" suffix=")" suffixOverrides="," >
	     				<if test="roleId != null">
				       	 role_id ,
				      </if>
	     				<if test="permissionId != null">
				       	 permission_id ,
				      </if>
	        </trim>
    		<trim prefix="values (" suffix=")" suffixOverrides="," >
		     				<if test="roleId != null">
					       	 #{roleId} ,
					      </if>
		     				<if test="permissionId != null">
					       	 #{permissionId} ,
					      </if>
	       </trim>
	</insert>
	
	
	

     <select id="selectById" resultMap="BaseResultMap" parameterType="long">
			select
				 <include refid="BaseColumnList" />
		    from
		    	s_role_permission 
		     where 
				s_role_permission.id = #{id}
	</select>
    
    
    <update id="update"   >
   		 update s_role_permission
    <set>
    		<if test="roleId != null">
		        role_id = #{roleId},
		      </if><if test="permissionId != null">
		        permission_id = #{permissionId},
		      </if>
    </set>
    where id = #{id}
   </update>
    
    
    <sql id="listWhere">
				       <if test="id != null">
							and s_role_permission.id = #{id}
						</if>
				       <if test="roleId != null">
							and s_role_permission.role_id = #{roleId}
						</if>
				       <if test="permissionId != null">
							and s_role_permission.permission_id = #{permissionId}
						</if>
   </sql>
    
    <select id="count" resultType="long">
   		select 
   			count(*)
   		from
   			s_role_permission
   		<where>
   			<include refid="listWhere"/>
   		</where>
   </select>
	

    <select id="selectList" resultMap="BaseResultMap" >
   		select 
   			 <include refid="BaseColumnList"/>
   		from
   			s_role_permission
   		<where>
   			<include refid="listWhere"/>
   		</where>
   		<if test="orderBy != null ">
   			order by ${orderBy}
   			<if test="sort != null ">
   				${ sort}
   			</if>
   		</if>
   		<if test="beginIndex != null and resultSize != null">
			limit #{beginIndex} , #{resultSize}
		</if>
   </select>
    
   
	<delete id="deleteById" parameterType="long" >
	    delete from s_role_permission
	    where id = #{id}
  </delete>
  -->
   
   
   
	
</mapper>

