<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jun.biz.manager.dao.SessionTokenDao">


    <sql id="BaseColumnList">
        id,session_token,user_id,remote_address,create_time,status,update_time
    </sql>


    <select id="selectBySessionToken" resultType="com.jun.biz.manager.model.SessionToken"
            parameterType="String">
        select
        <include refid="BaseColumnList"/>
        from
        u_session_token
        where session_token = #{sessionToken}
    </select>

    <select id="countToken" resultType="com.jun.biz.manager.model.dao.DateCount">
        select login_date date, count(1) num from u_session_token
        <where>
            <if test="minCreateTime != null">
                <![CDATA[
					and u_session_token.create_time >= #{minCreateTime}
	    		]]>
            </if>
            <if test="maxCreateTime != null">
                <![CDATA[
					and u_session_token.create_time <= #{maxCreateTime}
		    	]]>
            </if>
        </where>
        group by login_date
    </select>


</mapper>

