<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.element.modules.job.mapper.ScheduleJobMapper">

    <!-- 批量更新状态 -->
    <update id="updateBatch">
        UPDATE
            schedule_job
        SET
            status = #{status}
        WHERE
            job_id IN
        <foreach collection="jobList" item="jobId" open="(" close=")" separator=",">
            #{jobId}
        </foreach>
    </update>

</mapper>