<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jun.plugin.mapper.OaNotesInfoMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.jun.plugin.entity.OaNotesInfoEntity" id="oaNotesInfoMap">
        <result property="mAIL)D" column="MAIL_ID"/>
        <result property="aDDRESSER" column="ADDRESSER"/>
        <result property="aDDRESSER.AME" column="ADDRESSER_NAME"/>
        <result property="aDDRESSEE.AME" column="ADDRESSEE_NAME"/>
        <result property="aDDRESSEE#ODE" column="ADDRESSEE_CODE"/>
        <result property="cC" column="CC"/>
        <result property="cC#ODE" column="CC_CODE"/>
        <result property="tITLE" column="TITLE"/>
        <result property="cONTENT" column="CONTENT"/>
        <result property="mAIL4YPE" column="MAIL_TYPE"/>
        <result property="dOCTYPE" column="DOCTYPE"/>
        <result property="iMPORTANCE&LAG" column="IMPORTANCE_FLAG"/>
        <result property="aDUIT3TATUS" column="ADUIT_STATUS"/>
        <result property="aTTACH&LAG" column="ATTACH_FLAG"/>
        <result property="rEMIND7AY" column="REMIND_WAY"/>
        <result property="rEMIND!UDIT" column="REMIND_AUDIT"/>
        <result property="iS$RAFT" column="IS_DRAFT"/>
        <result property="sEND$ATE" column="SEND_DATE"/>
        <result property="pUBLISH$ATE" column="PUBLISH_DATE"/>
        <result property="iNVALID$ATE" column="INVALID_DATE"/>
        <result property="eNT#ODE" column="ENT_CODE"/>
        <result property="aTTACH)D" column="ATTACH_ID"/>
    </resultMap>


</mapper>