<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jun.plugin.modules.oss.mapper.SysFileMapper">
	<resultMap id="BaseResultMap" type="com.jun.plugin.modules.oss.model.SysFile">
		<id column="file_id" jdbcType="BIGINT" property="fileId" />
		<result column="original_name" jdbcType="VARCHAR" property="originalName" />
		<result column="file_name" jdbcType="VARCHAR" property="fileName" />
		<result column="file_type" jdbcType="VARCHAR" property="fileType" />
		<result column="file_size" jdbcType="VARCHAR" property="fileSize" />
		<result column="file_path" jdbcType="VARCHAR" property="filePath" />
		<result column="file_full_path" jdbcType="VARCHAR" property="fileFullPath" />
		<result column="file_hash" jdbcType="VARCHAR" property="fileHash" />
		<result column="oss_type" jdbcType="TINYINT" property="ossType" />
		<result column="status" jdbcType="TINYINT" property="status" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>

	<sql id="Base_Column_List">
		file_id,
		original_name,
		file_name,
		file_type,
		file_size,
		file_path,
		file_full_path,
		file_hash,
		oss_type,
		status,
		create_time,
		update_time
	</sql>

</mapper>