@font-face {
    font-family: 'iconfont';
    font-weight: normal;
    font-style: normal;
    src: url('https://at.alicdn.com/t/font_1551535_tw86ty90dxq.ttf') format('truetype');
}

.iconfont {
    font-family: iconfont;
}

.active {
    color: #0faeff;
}

.yc-tab-bar {
    color: #ffffff;
    background: #0faeff;
}

.yc-tab-bar .yc-tab-bar-title {
    font-size: 17px;
    font-weight: 500;
}

.yc-tab-bar .btn {
    color: #FFFFFF;
}

.yc-tab-bar .text {
    color: #FFFFFF;
}

.yc-tab-bar .iconfont {
    color: #FFFFFF;
}

/* .yc-list{
    padding: 2px 0;
    box-sizing: border-box;
}

.yc-list-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom:1px solid #ddd;
    padding: 7px;
    background: #fff;
}
.yc-list-item:first-child{
     border-top:1px solid #ddd;
} */