
.banner img{
    height: 150px;
    width: 100%;
}
.carInfo{
    display: flex;
    padding-top: 8px;
    font-size: 14px;
    margin-left: 12px;
}
.carName{
    margin-left: 12px;
}
.carPrice{
    display: flex;
}
.carBattery{
    display: flex;
}
.carPrice-1{
    color: #E51C23;
}
.carBattery{
    color: #C8C8C8;
}
.carPrice{
    margin-right: 22px;
}
.wrap{
    display: flex;
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
    color: #969696;
}
.carType{
    margin-left: 20px;
}
.carRent{
    margin-left: 50px;
}
.carFinance{
    margin-left: 50px;
}
.dagou{
    margin: 12px;
    display: flex;
    font-size: 13px;
}
.dagou img{
    width: 6%;
    height: 19px;
}
.type{
    margin: 10px 20px;
}
.type .money{
    margin:14px 0 0  32px;
    flex: 1;
}
.type .money .top{
    font-size: 14px;
    color: #C8C8C8;
    margin-left: 6px;
    margin-top: -8px;
}
.type .money .bottom{
    font-size: 18px;
    margin: 10px 0 0 -4px;
}
.type .month{
    margin:14px 0 0  32px;
    flex: 1;

}
.type .month .top{
    font-size: 14px;
    color: #C8C8C8;
    margin-left: 13px;
    margin-top: -8px;
}
.type .month .bottom{
    font-size: 18px;
    margin: 10px 0 0 4px;
}
.type .rent{
    margin:14px 0 0  32px;
    flex: 1;

}
.type .rent .top{
    font-size: 14px;
    color: #C8C8C8;
    margin-left: 3px;
    margin-top: -8px;
}
.type .rent .bottom{
    font-size: 18px;
    margin: 10px 0 0 8px;
}
.type img{
    width: 8%;
    height: 19px;
    margin-left: 43px;
}
.submit{
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: #EF8138;
    color: #ffffff;
    line-height: 40px;
    margin-top: 98px;
    overflow: hidden;
}
div.dl label{border:1px solid #EF8138; background:url(../images/dagou.png) no-repeat left;background-size:0.3rem 0.3rem; padding-left:0.35rem;}
div.dl input[type=radio]{display: none;}
div.dl input[type=radio]:checked + label{ background:url(../images/querendagou.png) no-repeat left;background-size:0.3rem 0.3rem;}
.kuang{
    display: flex;
    margin-left: -20px;
    padding: 0 3px 10px 6px;
}
label{
    display: flex;
    margin: 14px;
}
