

.banner img{
    height: 100%;
    width: 100%;
}
.datail-a{
    background: #fff;
}
.carName{
    padding: .3rem .2rem 0 .2rem;
    font-size: .4rem;

}
.carInfo{
    display: flex;
    padding: .16rem 0 .2rem .2rem;
    font-size: .24rem;
}
.carPrice{
    display: flex;
}
.carBattery{
    display: flex;
}
.carPrice-1{
    color: #E51C23;
}
.carBattery{
    color: #C8C8C8;
}
.carPrice{
    margin-right: .4rem;
}

.wrap{
    display: flex;
    height: 1rem;
    line-height: 1rem;
    background: #fff;
    border-bottom: 1px solid rgba(187,187,187,.6);
    margin-top: .2rem;
    text-align: center;
}
.carType, .carRent, .carFinance{
    flex: 1;
}

.wrap .active{
    color: #FF7E00;
    border-bottom: 1px solid #FF7E00;
}

.company{
    background: #fff;
    display: flex;
    font-size: .28rem;
    padding: .4rem .3rem;
    border-bottom: 1px solid rgb(247,247,247);
    margin: 0 .2rem;
}
.compangName{
    flex: 1;
    margin-right: .2rem;
    overflow: hidden;
}
.company .icon{
    width: .4rem;
    height: .4rem;
    background: url(../images/down.png) center center no-repeat;
    background-size: 80%;
    margin-right: .1rem;
}
.box{
    padding-bottom: 1.2rem;
}
.box-a{
    background: #fff;
}
.box-a .tab{
    height: 1rem;
    line-height: 1rem;
    position: relative;
    background: #fff;
    display: flex;
}
.box-a .tab::before{
    position: absolute;
    content: " ";
    width: 94%;
    height: 1px;
    background: rgb(247,247,247);
    left: 3%;
    bottom: 0;
}
.box-a .tab>div{
    flex: 1;
    margin: 0 1rem;
    text-align: center;
}
.box-a .tab>div.active{
    border-bottom: 2px solid #4684CD;
}
.base-info{
    background: #fff;
    height: 5rem;
    overflow: hidden;
}
.base-tit{
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    position: relative;
}
.base-tit::before{
    width: 1rem;
    height: 1px;
    background: #A1A1A0;
    content: " ";
    position: absolute;
    left: 2rem;
    top: .48rem;
}
.base-tit::after{
    width: 1rem;
    height: 1px;
    background: #A1A1A0;
    content: " ";
    position: absolute;
    right: 2rem;
    top: .48rem;
}
.info-table{
    margin: 0 .2rem;
    border: 1px solid rgb(247,247,247);
    border-radius: 2px;
    height: 4rem;
    overflow-y: scroll;
    font-size: .2rem;
}
.info-table .item{
    height: .6rem;
    line-height: .6rem;
    background: rgb(247,247,247);
    display: flex;
}
.info-table .item>div{
    flex: 1;
}
.info-table .item:nth-child(2n){
    background: #fff;
}

.tab-a{
    height: 1.2rem;
    background: #fff;
    padding: .3rem 0;
}
.tab-box{
    width: 70%;
    height: .6rem;
    margin: 0 auto 0;
    display: flex;
    background: rgb(237,238,237);
    overflow: hidden;
    border-radius: .3rem;
}
.tab-box>div{
    line-height: .6rem;
    flex: 1;
    text-align: center;
}
.tab-box>div.active{
    flex: 2;
    background: rgb(70,132,205);
    border-radius: .3rem;
    color: #fff;
}

.carPic{
    padding: 0 .2rem .2rem;
}
.carPic .top{
    /* display: flex; */
    margin-bottom: .05rem;
    overflow: hidden;
}
.carPic .top .pic{
    /* flex: 1; */
    margin-right: .05rem;
    overflow: hidden;
    width: 32%;
    float: left;
}
.carPic .top .pic:last-child{
    margin-right: 0;
}
.carPic .pic>img{
    width: 100%;
    height: 100%;
}
.dibu{
    width: 100%;
    height: 1rem;
    display: flex;
    overflow: hidden;
    position: fixed;
    left: 0;
    bottom: 0;
    background: #fff;
    border-top: 1px solid rgba(187,187,187,.2);
}
.dibu .dibu-item{
    flex: 1;
}
.dibu .dibu-item:last-child{
    flex: 4;
    background: #FF7E00;
}
.dibu-item .icon{
    width: .4rem;
    height: .4rem;
    overflow: hidden;
    margin: .12rem auto .05rem;
}
.icon-a{
    background: url(../images/share.png) center center no-repeat;
    background-size: 100%;
}
.icon-b{
    background: url(../images/kefu.png) center center no-repeat;
    background-size: 100%;
}
.icon-c{
    background: url(../images/wenhao.png) center center no-repeat;
    background-size: 100%;
}
.dibu-item .txt{
    text-align: center;
    font-size: .2rem;
}
.dibu-item .txt.a{
    color: #fff;
}
.dibu-item .info{
    line-height: 1rem;
    text-align: center;
    color: #fff;
}



.check-box{
    background: #fff;
    height: 1rem;
    padding: 0 .5rem;
    position: relative;
    /* display: flex; */
    line-height: 1rem;
}
.check-box::before{
    content: " ";
    position: absolute;
    width: .1rem;
    height: .3rem;
    background: #FF7E00;
    left: .2rem;
    top: .35rem;
}
.check-box>div{
    /* flex: 1; */
    float: left;
}
.check-box>.a{
    display: flex;
    font-size: .24rem;
}
.check-box>.a>.icon{
    width: .4rem;
    height: .4rem;
    background: url(../images/check.png) center center no-repeat;
    background-size: 70%;
    margin: .3rem .2rem 0 0;
}
.check-box>.active>.icon{
    background: url(../images/checked.png) center center no-repeat;
    background-size: 70%;
}
.check-box>.active>.txt{
    color: #FF7E00;
}
.fangan{
    background: #fff;
    padding: 0 .2rem;
}
.fangan .item{
    display: flex;
    height: 1.74rem;
    background: #F5F7FA;
    border-radius: .1rem;
    border: 1px solid #F5F7FA;
    overflow: hidden;
    position: relative;
    margin-bottom: .2rem;
}
.fangan .item:last-child{
    margin-bottom: 0;
}
.fangan .item>.a{
    flex: 1;
    text-align: center;
}
.fangan .item>.a .txt-a{
    color: #ADAEBB;
    font-size: .28rem;
    margin-bottom: .1rem;
    margin-top: .4rem;
}
.fangan .item>.a .txt-b{
    color: #FF7E00;
    font-size: .4rem;
}
.fangan .item.active{
    border: 1px solid #FF7E00;
}
.fangan .item.active>.icon{
    width: .5rem;
    height: .5rem;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/checked1.png) center center no-repeat;
    background-size: 100%;
}
.zl-info{
    height: .8rem;
    line-height: .8rem;
    background: #fff;
    padding: 0 .2rem;
    display: flex;
}
.zl-info .icon{
    width: .4rem;
    height: .4rem;
    margin-right: .2rem;
    margin-top: .2rem;
    background: url(../images/gantanhao.png) center center no-repeat;
    background-size: 100%;
}
.view-box{
    padding: .2rem;
    background: #fff;
}
.view-box .view-a{
    display: block;
    height: .8rem;
    line-height: .8rem;
    background: #F5F7FA;
    color: #ADAEBB;
    font-size: .28rem;
    text-align: center;
}
.view-box .view-a>span{
    display: inline-block;
    width: .4rem;
    height: .4rem;
    overflow: hidden;
    background: url(../images/right.png) center 7px no-repeat;
    background-size: 70%;
    margin-left: .1rem;
}