.tel{
    width: 100%;
    /* position: fixed;
    top: 30%;
    left: 5%;
    background: #ccc; */
    border-radius: .1rem;
    overflow: hidden;
    padding: .2rem;
}
.tel-wrap{
    padding: .2rem;
    background: #fff;
}
.tel-wrap .tit{
    height: .5rem;
    line-height: .5rem;
    text-align: center;
    font-size: .32rem;
    margin-bottom: .2rem;
}
.telipt{
    border: 1px solid #ccc;
    height: .8rem;
    line-height: .8rem;
    padding-left: .2rem;
    margin-bottom: .2rem;
}
.telipt>input{
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;;
}
.telipt>input::placeholder{
    color: #ADAEBB;
}
.tel-wrap .tips{
    font-size: .2rem;
    padding: 0 0 .4rem;
    color: #FF7E00;
}
.tel-btn{
    height: .8rem;
    line-height: .8rem;
    overflow: hidden;
    display: flex;
    text-align: center;
    margin-top: .5rem;
}
.tel-btn>div{
    flex: 1;
}
.cancel{
    border: 1px solid #ccc;
    border-radius: .1rem;
    margin-right: .2rem;
}
.success{
    background: #FF7E00;
    color: #fff;
    border-radius: .1rem;
    /* margin-left: .2rem; */
}


.wrap{
    background: #fff;
    padding: 0 .2rem;
}
.no{
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    color: #deb57a;
}

.wrap .item{
    display: flex;
    height: 1.2rem;
    padding: .2rem;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
}
.wrap .item .l{
    flex: 1;
}
.wrap .item .t{
    font-size: .28rem;
}
.wrap .item .b{
    font-size: .2rem;
    color: #9e9e9e;
}
.wrap .item .r{
    margin-left: .3rem;
    line-height: .8rem;
    font-size: .32rem;
    color: #deb57a;
}