.wrap .box{
    height: 2rem;
    padding: .2rem;
    margin-bottom: .2rem;
    background: #fff;
    border-radius: .1rem;
    display: flex;
}
.wrap .box:last-child{
    margin-bottom: 0;
}
.wrap .box.a {
    background: #ebeaea;
}
.wrap .box.a .price {
    color: #666;
}
.wrap .box.a .txt {
    color: #666;
}
.box .l{
    margin-right: .2rem;
    width: 1.8rem;
    text-align: center;
}
.box .l .price {
    color: #FF7E00;
    font-size: .4rem;
    margin-top: .5rem;
}
.box .l .txt {
    color: #FF7E00;
    font-size: .24rem;
}

.box .c{
    flex: 1;
}
.box .c .tit {
    font-size: .32rem;
    margin-bottom: .2rem;
    margin-top: .1rem;
}
.box .c .info {
    font-size: .2rem;
    color: #979797;
    height: .3rem;
    line-height: .3rem;
}



.box .r{

}
.box .r .btn {
    width: 1.5rem;
    height: .5rem;
    background: #ff7e00;
    text-align: center;
    color: #fff;
    border-radius: .25rem;
    margin-top: .6rem;
    font-size: .24rem;
    line-height: .5rem;
}

.itema{
    padding: .2rem;
    margin-bottom: .2rem;
    background: #fff;
    border-radius: .1rem;
}
.topa{
    margin-bottom: .2rem;
    font-size: .28rem;
}
.mid{
    display: flex;
    padding-bottom: .3rem;
}
.mid .la{
    margin-right: .2rem;
    width: 1.8rem;
    /* text-align: center; */
    border-right: 1px solid #d8d8d8;
}
.mid .la .price{
    color: #FF7E00;
    font-size: .45rem;
    margin-top: .4rem;
}
.ra .infoa{
    font-size: .2rem;
    color: #979797;
    /* height: .3rem; */
    line-height: .3rem;
}
.ra .infoa:first-child{
    margin-bottom: .2rem;
    font-size: .24rem;
    height: .6rem;
}
.itema .btn {
    background: #FF7E00;
    text-align: center;
    color: #fff;
    padding: .1rem;
    border-radius: .1rem;
}