
.banner img{
    height: 150px;
    width: 100%;
}
.item{
    display: flex;
}
.item img{
    width: 36%;
    height: 36px;
    margin: 20px 20px 5px;
}
.item .icon{
    width: 33%;
    text-align: center;
}