
.tab{
    height: 1rem;
    line-height: 1rem;
    display: flex;
    background: #fff;
    margin-bottom: .2rem;
}
.tab .item{
    flex: 1;
    text-align: center;
    font-size: .3rem;
    border-bottom: none;
    background: #fff;
}
.tab .item.active{
    color: #D7542C;
    border-bottom: 1px solid #D7542C;
}
.box .txt{
    height: 2rem;
    line-height: 2rem;
    text-align: center;
}
.box .item{
    height: 1.2rem;
    padding: .2rem;
    border-bottom: 1px solid #ebeaea;
    display: flex;
    background: #fff;
}
.box .item:last-child{
    border-bottom: none;
}
.left{
    flex: 1;
}
.left p:first-child{
    font-size: .36rem;
    color: #373737;
    margin-bottom: .1rem;
}
.left p:last-child{
    font-size: .24rem;
    color: #999999;
}



.righ{
    display: flex;
}
.righ .icon{
    width: .4rem;
    height: .4rem;
    overflow: hidden;
    margin-top: .2rem;
}
.righ .icon-a{
    background: url(../images/v2_ps5dts.png) center center no-repeat;
    background-size: 100%;
}
.righ .icon-b{
    background: url(../images/v2_ps5e0k.png) center center no-repeat;
    background-size: 100%;
}
.righ  .info{
    color: #999999;
    font-size: .32rem;
    line-height: .8rem;
}