.maina{
    /* padding: .2rem; */
}
.nav{
    height: .8rem;
    line-height: .4rem;
    padding: .2rem;
    display: flex;
    text-align: center;
    background: #fff;
}
.nav .item{
    flex: 1;
    border-right: 1px solid #e9e9e9;
}
.nav .item:last-child{
    border-right: none;
}
.nav .item.active{
    color: #FF7E00;
}

.wrap{
    padding: .2rem;
}
.wrap .item{
    /* height: 2rem; */
    padding: .2rem;
    margin-bottom: .2rem;
    background: #fff;
    border-radius: .1rem;
    /* display: flex; */
}
.top{
    margin-bottom: .2rem;
    font-size: .28rem;
}
.mid{
    display: flex;
    padding-bottom: .3rem;
}
.wrap .mid:last-child{
    margin-bottom: 0;
}
.wrap .mid.a{
    background: #ebeaea;
}
.mid .l{
    margin-right: .2rem;
    width: 1.4rem;
    /* text-align: center; */
    border-right: 1px solid #d8d8d8;
}
.mid .r{
    flex: 1;
}
.mid .l .price{
    color: #FF7E00;
    font-size: .45rem;
    margin-top: .4rem;
}
.txt{
    color: #FF7E00;
    font-size: .24rem;
}
.wrap .mid.a .price{
    color: #666;
}
.wrap .mid.a .txt{
    color: #666;
}
.mid .c{
    flex: 1;
}
.tit{
    font-size: .32rem;
    margin-bottom: .2rem;
    /* margin-top: .1rem; */
}
.info{
    font-size: .2rem;
    color: #979797;
    /* height: .3rem; */
    line-height: .3rem;
}
.r .info:first-child{
    margin-bottom: .2rem;
    font-size: .24rem;
    height: .6rem;
}
.mid .r .btn{
    width: 1.5rem;
    height: .5rem;
    background: #ff7e00;
    text-align: center;
    color: #fff;
    border-radius: .25rem;
    margin-top: .3rem;
    font-size: .24rem;
    line-height: .5rem;
}
.btn {
    background: #FF7E00;
    text-align: center;
    color: #fff;
    padding: .1rem;
    border-radius: .1rem;
}
.no{
    text-align: center;
    height: 3rem;
    line-height: 3rem;
    color: #FF7E00; 
}