
body {
    background: #fff;
    text-align: left;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    color: #555;
    font-size: 16px;
    font-weight: 400;
}

strong { font-weight: 700; }
.red { color: #FF7E00; }
a:hover { text-decoration: none; }



.register-container {
    margin-top: .2rem;
}



/* ----- Registration Form ----- */

.register form {
    padding: 20px 10px 40px;
    background: #ffff;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    /* -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3); */
}

.register form h2 {
    margin-bottom: 25px;
    padding-bottom: 15px;
    background: url(../img/pencil.png) 70px 6px no-repeat;
    border-bottom: 2px dotted #bbb;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.register form input.a {
    height: .8rem;
    /* background: #fcfcfc; */
    border: 1px solid #ddd;
    -moz-border-radius: .1rem;
    -webkit-border-radius: .1rem;
    border-radius: .1rem;
    /* -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.1) inset;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.1) inset;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1) inset; */
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    color: #888;
    font-size: .3rem;
    flex: 1;
    padding: 0 .2rem;
    font-size: .28rem
}

.register form input:focus {
    border: 1px solid #ccc;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.item{
    height: .8rem;
    line-height: .8rem;
    display: flex;
    margin-bottom: .2rem;
}
.register form label {
    /* margin: 7px 0 10px 5px; */
    font-size: .28rem;
    line-height: 34px;
    width: 50px;
}

.register form label span {
    font-style: italic;
}

.register form input:-moz-placeholder { color: #aaa; }
.register form input:-ms-input-placeholder { color: #aaa; }
.register form input::-webkit-input-placeholder { color: #aaa; }

.register .submit {
    cursor: pointer;
    width: 100%;
    height: .8rem;
    line-height: .8rem;
    margin-top: .5rem;
    padding: 0;
    background: #FF7E00;
    -moz-border-radius: .1rem;
    -webkit-border-radius: .1rem;
    border-radius: .1rem;
    border: 0;
    /* -moz-box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
    -webkit-box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
    box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset; */
    /* font-family: 'PT Sans', Helvetica, Arial, sans-serif; */
    font-size: .3rem;
    font-weight: 400;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
    text-align: center;
}
.btn{
    margin-left: .2rem;
    font-size: .24rem;
    color: #999;
    background: transparent;
}


.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
/* ----- Media queries ----- */

@media (max-width: 1200px) {

    .register form h2 { background: url(../img/pencil.png) 20px 6px no-repeat; }

}

@media (min-width: 768px) and (max-width: 979px) {

    .register form h2 { background: none; }

}

@media (max-width: 767px) {

    body { padding-left: 0; padding-right: 0; }

    .logo, .links { text-align: center; }

    .links { padding-bottom: 5px; }

    .logo h1 { padding-left: 0; }

    .links a.home { margin-left: 0; }

    .links a.blog { margin-right: 0; }

    .register-container { padding-left: 10px; padding-right: 10px; }

    .register form h2 { background: none; }

    .iphone img { display: none; }

}

@media (max-width: 480px) {
    .register .submit { width: 100%; }
}

