
.pic{
    width: 100%;
    height: 3.9rem;
    overflow: hidden;
}

.title{
    margin: .5rem 0 0 .2rem;
    color: #1F2132;
}
.pic-1{
    display: flex;
}
.pic-1 img{
    height: 18px;
    margin: .2rem 0 0.2rem;
}
.pic-1 .location{
    height: 35px;
    line-height: 35px;
    color: #484749;
}
.search{
    display: flex;
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
}
.top{
    margin: .3rem 0 0 .2rem;
    color: #101010;
}
.mid{
    display: flex;
    margin: .3rem 0 0 .2rem;
    color: #646B6F;
    overflow: hidden;
}
.distance{
    margin-right: .2rem;
}
.bottom{
    margin: .2rem 0 .3rem .2rem;
    display: flex;
    color: #646B6F;
}
.pile-number{
    margin-left: .6rem;
}
.right{
    margin-top: .6rem;
    position: absolute;
    right: 40px;
}
.pic-2{
    margin-left: .1rem;
}
.pic-2 img{
    height: 26px;
}

body { margin: 0; font-family: "Helvetica,Arial,FreeSans"; color: #000000; font-size: 12px; }  
.demo_main {
     /* padding: 20px; padding-top: 10px; */
     }  
.demo_title { 
    /* padding: 10px; margin-bottom: 10px;  */
    background-color: #D3D8E0; border: solid 1px gray; }  
.demo_content { padding: 10px; margin-bottom: 10px; border: solid 1px gray; }  
fieldset { border: 1px solid gray; }  
