.main{
    padding: .2rem .4rem;
}
.tips{
    height: .8rem;
    line-height: .8rem;
    color: #ff0000;
    display: flex;
}
.tit{
    height: .5rem;
    line-height: .5rem;
    display: flex;
}
.tit .icon{
    height: .3rem;
    width: .3rem;
    overflow: hidden;
    margin-top: .1rem;
    margin-right: .1rem;
}
.tit .txt{
    flex: 1;
}

.icon-1{
    background: url(../images/start.png) center center no-repeat;
    background-size: 100%;
}
.wrap{
    border: 1px solid #ccc;
    margin: .2rem auto;
}
.item{
    border-bottom: 1px solid #ccc;
    display: flex;
    height: .8rem;
    font-size: .24rem;
}
.item:last-child{
    border-bottom: none;
}
.item .l{
    flex: 1;
    line-height: .8rem; 
    text-align: center;
    border-right: 1px solid #ccc;
}
.item .r{
    flex: 2;
}
.item .r>p{
    padding: 0 .2rem;
}
.lh{
    line-height: .8rem;
}
.h12{
    height: 1.2rem;
}