.mainb{
    width: 100%;
    height: 100%;
    background: url(../images/hb-bg.jpg) top center no-repeat;
    background-size: 100%;
    padding-top: 3rem;
}
.no{
    height: 1rem;
    line-height: 1rem;
    color: #fff;
    text-align: center;
    font-size: .32rem;
}
.wrap{
    padding: 0 .2rem;
    max-height: 9rem;
    overflow-y: scroll;
}
.wrap .item{
    /* height: 1.5rem; */
    padding: .2rem;
    margin-bottom: .2rem;
    background: #fff;
    border-radius: .1rem;
    /* display: flex; */
}
.wrap .item:last-child{
    margin-bottom: 0;
}
.top{
    margin-bottom: .2rem;
    font-size: .28rem;
}
.wrap .mid{
    display: flex;
    padding-bottom: .3rem;
}


.mid .l {
    margin-right: .2rem;
    width: 1.8rem;
    /* text-align: center; */
    border-right: 1px solid #dbd8d8;
}
.mid .l .price {
    color: #FF7E00;
    font-size: .45rem;
    margin-top: .4rem;
}
.txt {
    color: #FF7E00;
    font-size: .24rem;
}

.mid .c {
    flex: 1;
}
.tit {
    font-size: .32rem;
    margin-bottom: .2rem;
    /* margin-top: .1rem; */
}
.info {
    font-size: .2rem;
    color: #979797;
    /* height: .3rem; */
    line-height: .3rem;
}
.r .info:first-child{
    margin-bottom: .2rem;
    font-size: .24rem;
    height: .6rem;
}
.mid .r .btn {
    width: 1.5rem;
    height: .5rem;
    background: #ff7e00;
    text-align: center;
    color: #fff;
    border-radius: .25rem;
    margin-top: .3rem;
    font-size: .24rem;
    line-height: .5rem;
}
.btn{
    background: #FF7E00;
    text-align: center;
    color: #fff;
    padding: .1rem;
    border-radius: .1rem;
}
.bg{
    display: none;
    width: 100%;
    height: 100%;;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    z-index: 99;
}
.share{
    display: none;
    width: 6rem;
    background: #fff;
    z-index: 999;
    border-radius: .1rem;
    overflow: hidden;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -3rem;
    margin-top: -3.8rem;
}
.share-wrap{
    padding: .3rem .3rem .2rem;
    width: 6rem;
    /* height: 6rem; */
}
.qr-code{
    width: 5.4rem;
    height: 5.4rem;
    overflow: hidden;
    margin-bottom: .1rem;
}
.share-wrap p{
    text-align: center;
    height: .4rem;
    line-height: .4rem;
    font-size: .28rem;
}
.share-wrap p>span{
    color: red;
    margin: 0 .1rem;
}
.gb{
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    border-top: 1px solid #eee;
    font-size: .28rem;
}
.share-bg{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
}
.code{
    width: 5rem;
    height: 5rem;
    margin: 0 auto .4rem;
}