<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jun.plugin.system.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.jun.plugin.system.domain.Role">
        <!--@mbg.generated-->
        <!--@Table sys_role-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="available" jdbcType="INTEGER" property="available"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`, remark, available, createtime
    </sql>


    <!-- 根据角色id 删除角色和菜单权限 -->
    <delete id="deleteRoleMenuByRid">
      delete from sys_role_menu where rid=#{value}
    </delete>


    <!-- 根据菜单id 删除 角色和菜单权限 -->
    <delete id="deleteRoleMenuByMid">
        delete from sys_role_menu where mid=#{value}
    </delete>

    <!-- 根据角色id 删除 用户角色 -->
    <delete id="deleteRoleUserByRid">
        delete from sys_role_user where rid=#{value}
    </delete>

    <!-- 根据用户id 删除 用户角色 -->
    <delete id="deleteRoleUserByUid">
        delete from sys_role_user where uid=#{value}
    </delete>

    <!--
        根据角色ID 查询角色和菜单关系表当中的  菜单和权限id
    -->
    <select id="queryMenuIdsByRid" resultType="java.lang.Integer">
      select mid from sys_role_menu where rid = #{id}
    </select>

    <!--
        根据用户id 查询该用户拥有的角色id
    -->
    <select id="queryRoleIdsByUserId" resultType="java.lang.Integer">
        select rid from sys_role_user where uid=#{userId}
    </select>


    <!-- 批量插入  性能 优化 -->
    <insert id="insertRoleMenu">
        insert into sys_role_menu
        (rid, mid) values
        <foreach collection="mids" item="item" index="index" separator=",">
            (#{rid},#{item.value})
        </foreach>
    </insert>


    <!-- 批量插入 角色喝用户的更4关系 -->
    <insert id="insertUserRole">
        insert into sys_role_user
        (rid,uid)
        values
        <foreach collection="rids" item="rid" index="index" separator=",">
            (#{rid.value},#{uid})
        </foreach>
    </insert>


    <!--
        根据角色id查询 角色对应的菜单id
    -->
    <select id="queryMenuIdsByRoleIds" resultType="java.lang.Integer">
        select distinct mid from  sys_role_menu
        <where>
            <foreach collection="roleIds" open=" rid in ("  close=")" separator=","  item="m">
                #{m}
            </foreach>
        </where>
    </select>

</mapper>